<%= render 'titre' %>
<div class="container">

    <h2><%= I18n.t("help.absences_types.titre").capitalize %></h2>
    <article>
        <h3><%= I18n.t("help.absences_types.titre0") %></h3>
        <%= I18n.t("help.absences_types.article0") %>
    </article>

    <article>
        <h3><%= I18n.t("help.absences_types.titre1") %></h3>
        <%= I18n.t("help.absences_types.article1") %>
    </article>

    <article>
        <h3><%= I18n.t("help.absences_types.titre2") %></h3>
        <%= I18n.t("help.absences_types.article2") %>
    </article>

    <article>
        <h3><%= I18n.t("help.absences_types.titre3") %></h3>
        <%= I18n.t("help.absences_types.article3") %>
    </article>
</div>

<%= render "more" %>