<%= render 'titre' %>
<div class="container">

    <h2><%= I18n.t("help.days_off.titre").capitalize %></h2>
    <article>
        <h3><%= I18n.t("help.days_off.titre0") %></h3>
        <%= I18n.t("help.days_off.article0") %>
    </article>

    <article>
        <h3><%= I18n.t("help.days_off.titre1") %></h3>
        <%= I18n.t("help.days_off.article1") %>
    </article>

    <article>
        <h3><%= I18n.t("help.days_off.titre2") %></h3>
        <%= I18n.t("help.days_off.article2") %>
    </article>

    
</div>

<%= render "more" %>