<%= render 'titre' %>
<div class="container">

    <h2><%= I18n.t("help.events.titre").capitalize %></h2>
    <article>
        <h3><%= I18n.t("help.events.titre0") %></h3>
        <%= I18n.t("help.events.article0") %>
    </article>

    <article>
        <h3><%= I18n.t("help.events.titre1") %></h3>
        <%= I18n.t("help.events.article1") %>
    </article>

    <article>
        <h3><%= I18n.t("help.events.titre2") %></h3>
        <%= I18n.t("help.events.article2") %>
    </article>

    
</div>

<%= render "more" %>