<%= render 'titre' %>

<% unless user_signed_in? %>
    <%= render "sommaire" %>
<% else %>
<div class="container">

    <h2><%= I18n.t("help.profile.titre").capitalize %></h2>

    <!-- User informations and login data -->
    <article>
        <h3><span class="label label-default"><%= I18n.t("help.profile.titre0").capitalize %></span></h3>
        <p><%= I18n.t("help.profile.article0") %></p>
        <p><%= I18n.t("help.profile.article1") %></p>
    </article>

    <!-- Absences -->
    <article>
        <h3><span class="label label-success"><%= I18n.t("help.profile.titre2").capitalize %></span></h3>
        <p><%= I18n.t("help.profile.article2") %></p>
    </article>

    <!-- Schedule - 2 x 2 weeks -->
    <article>
        <h3><span class="label label-primary"><%= I18n.t("help.profile.titre3").capitalize %></span></h3>
        <p><%= I18n.t("help.profile.article3") %></p>
    </article>

</div>

<%= render "more" %>

<% end %>
