<%= render 'titre' %>
<div class="container">

    <h2><%= I18n.t("help.users_groups.titre").capitalize %></h2>
    <article>
        <h3><%= I18n.t("help.users_groups.titre0") %></h3>
        <%= I18n.t("help.users_groups.article0") %>
    </article>

    <article>
        <h3><%= I18n.t("help.users_groups.titre1") %></h3>
        <%= I18n.t("help.users_groups.article1") %>
    </article>

    <article>
        <h3><%= I18n.t("help.users_groups.titre2") %></h3>
        <%= I18n.t("help.users_groups.article2") %>
    </article>

    
</div>

<%= render "more" %>