<tr>
    <td><%= service.nom %></td>
    <td><%= service.lieu.nom %></td>
    <td><%= service.description %></td>
    <td>
        <%= link_to " [Show] ", service_path(service) %>
        <%= link_to " [Edit] ", edit_service_path(service) %>
        <%= link_to " [Delete] ", service_path(service), 
            method: :delete,
            data: { confirm: "Delete #{service.nom} ?" } %>
    </td>
</tr>