<h1>
    <%= @service.nom %>
</h1>
<p>
    <strong>Lieu :</strong> <%= @service.lieu.nom %>
</p>
<p>
    <strong>Téléphone :</strong> <%= @service.lieu.phone %>
</p>
<p>
    <strong>Note(s) :</strong> <%= @service.description %>
</p>

<p>
    <%= link_to " [Edit] ", edit_service_path(@service) %>
</p>