<div class="container">
    <div class="page-header">
    <h1>
        <span class="label label-warning">
            <i class="material-icons">construction</i>
            <%= I18n.t("tools.check_days.titre").upcase %>
        </span>
    </h1>
    </div>
</div>

<!-- WORKING LIST PROBLEMS -->
<div class="container">
    <span class="label label-warning">WORKING LISTS</span><br>
    <% if @problemes.count > 0 %>
        <% @problemes.each do |jour| %>
            <span id="jour_<%= jour.id %>">
                <%= jour.numero_semaine %> | 
                <%= jour.date %> | 
                <%= am_pm(jour.am_pm) %> | 
                <%= jour.service.nom %> | 
                <%= jour.utilisateur.prenom_nom %> |
                Works : <%= jour.works? %>
                &nbsp;&nbsp;&nbsp;
                <%= link_to '<span data-toggle="tooltip" >
                    <i class="material-icons">edit</i></span>'.html_safe, 
                    edit_jour_path(jour),
                    class: "btn btn-warning btn-xs" 
                %>
                <%= link_to '<span data-toggle="tooltip" >
                    <i class="material-icons">close</i>'.html_safe, 
                    jour_path(jour),
                    method: :delete,
                    remote: true,
                    data: { confirm: "Delete #{jour.date}  ?" },
                    class: "btn btn-danger btn-xs" 
                %>
                <hr>
            </span>
        <% end %>
    <% else %>
        No problem found.
    <% end %>
</div>
<hr>

<!-- BATCHS PROBLEMS -->
<div class="container">
    <span class="label label-warning">BATCHS</span><br>
    <% if @problemes_batchs.count > 0 %>
        <% @problemes_batchs.each do |jour| %>
            <span id="jour_<%= jour.id %>">
                <%= jour.numero_semaine %> | 
                <%= jour.date %> | 
                <%= jour.utilisateur.prenom_nom %> |
                &nbsp;&nbsp;&nbsp;
                Too much batches this day for this user
                <hr>
            </span>
        <% end %>
    <% else %>
        No problem found.
    <% end %>
</div>

<hr>
<div class="container">
    <a href=<%= tools_path %> class="btn btn-info" role="button">
        <<
    </a>
</div>
