<div class="container">
    <div class="page-header">
    <h1>
        <span class="label label-warning">
            <i class="material-icons">construction</i>
            <%= I18n.t("tools.index.titre").upcase %>
        </span>
    </h1>
    </div>
</div>

<% if user_signed_in? && current_user.admin? %>
    <% session[:page_aide] = "tools" %>
    <div class="container">
        <div class="row">


            <!-- DAYS -->

            <div class="col-sm-4">
                <article>
                    <h3><%= I18n.t("tools.check_days.titre").capitalize %></h3>
                    <p><%= I18n.t("tools.check_days.description") %></p>
                    <a href=<%= check_days_path %> class="btn btn-info" role="button">
                        <%= I18n.t("tools.check_days.titre").downcase %>
                    </a>
                </article>
            </div>


            <!-- USERS -->

            <div class="col-sm-4">
                <article>
                    <h3><%= I18n.t("tools.check_users.titre").capitalize %></h3>
                    <p><%= I18n.t("tools.check_users.description") %></p>
                    <a href=<%= check_users_path %> class="btn btn-info" role="button">
                        <%= I18n.t("tools.check_users.titre").downcase %>
                    </a>
                </article>
            </div>


            <!-- ADMINS -->

            <div class="col-sm-4">
                <article>
                    <h3><%= I18n.t("tools.check_admins.titre").capitalize %></h3>
                    <p><%= I18n.t("tools.check_admins.description") %></p>
                    <a href=<%= check_admins_path %> class="btn btn-info" role="button">
                        <%= I18n.t("tools.check_admins.titre").downcase %>
                    </a>
                </article>
            </div>

        </div>
        <br>
        <hr>
        <div class="row">


            <!-- BACKUP DB -->

            <div class="col-sm-4">
                <article>
                    <h3><%= I18n.t("tools.backup_db.titre").capitalize %></h3>
                    <p><%= I18n.t("tools.backup_db.description") %></p>
                    <p><span class="bg-info">Note</span> : <i><%= I18n.t("tools.backup_db.time") %></i></p>
                    <a href=<%= backup_db_path %> class="btn btn-info" role="button">
                        <%= I18n.t("tools.back_up.titre").downcase %>
                    </a>
                </article>
            </div>

        </div>
        <br>
    </div>
<% else %>
    <div class="container"><% session[:page_aide] = "" %></div>
<% end %>