<div class="container">
    <div class="page-header">
    <h1>
        <span class="label label-warning">
            <i class="material-icons">analytics</i>
            <%= I18n.t("tools.statistics.titre").upcase %>
        </span>
    </h1>
    </div>
</div>


<div class="container">
    <form action="<%= statistics_path %>" method="get">
        <p>
            <label for="work">Work: </label>
            <select name="work" id="work">
                <option value="">
                <% Work.order(:service_id, :classe_id, :code).each do |work| %>
                    <option value="<%= work.id %>" 
                        <% if params[:work].to_i == work.id %>
                            selected="selected"
                        <% end %>
                    >
                    <%=work.nom %> (<%= work.code %>)
                    </option>
                <% end %>
            </select>
        </p>
        <input name="commit" type="submit" value="Search">
    </form>
</div>


<h3>TITLE</h3>

<p>Plage de dates : <%= @date_job_past %> / <%= @date_job_futur %></p>

<table class="table table-bordered table-striped grille">
    <tr>
        <th>Utilisateurs</th>
        <% @works.each do |work| %>
            <% if params[:work].blank? %>
                <th><%= work.code %></th>
            <% else %>
                <th><%= work.nom %> (<%= work.code %>)</th>
            <% end %>
        <% end %>
    </tr>
    
    <% @jours.keys.each do |utilisateur| %>
        <tr class="ligne">
            <td class="nom_utilisateur"><%= utilisateur.prenom_nom %></td>
            <% @works.each do |work| %>
                <td><%= @jours[utilisateur][work] %></td>
        <% end %>
        </tr>
    <% end %>
    
    <tr class="ligne">
        <td class="nom_utilisateur"></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>



</table>

