<tr id="blog_message_<%= blog_message.id %>">
    <td>
        <%= blog_message.date %>
    </td>

    <td>
        <%= blog_message.service.nom %>
    </td>

    <td>
        <%= blog_message.category %>
    </td>

    <td>
        <%= blog_message.title %>
    </td>

    <td>
        <% if user_signed_in? && current_user.admin? %>
            <div class="btn-group">
                <%= link_to '<span data-toggle="tooltip">
                    <i class="material-icons">edit</i></span>'.html_safe, 
                    edit_blog_message_path(blog_message),
                    class: "btn btn-warning btn-xs" %>

                <%= link_to '<span data-toggle="tooltip" >
                    <i class="material-icons">close</i>'.html_safe, 
                    blog_message_path(blog_message),
                    method: :delete,
                    remote: true,
                    data: { confirm: "Delete blog_message #{blog_message.date}/#{blog_message.date_fin} [#{blog_message.service.nom}] ?" },
                    class: "btn btn-danger btn-xs" %>
            </div>
            <% end %>
        </div>
    </td>
</tr>
