<tr id="blog_message_<%= blog_message.id %>">

    <td>
        <div class="panel panel-default">
            <div class="panel-body">
                <p class="text-justify">
                <h6 class="bg-info text-justify"><%= nom_jour(blog_message.date.wday) %></h6>
                <h1 class="text-justify"><%= blog_message.date.day %></h1>
                <h4 class="bg-info text-justify"><%= nom_mois(blog_message.date.month) %></h4>
                <h6 class="text-justify"><%= blog_message.date.year %></h6>
                </p>
            </div>
        </div>
    </td>

    <td>
        <% nbr_reponses = BlogResponse.where(blog_message_id: blog_message.id).size %>
        <div class="panel panel-default">

            <div class="panel-heading">
                <strong><%= blog_message.title.capitalize %></strong>
                - <i>[<a href="<%= blog_messages_path(utilisateur_id: blog_message.utilisateur_id) %>" class="btn btn-link btn-xs" role="button"><%= @blog_utilisateurs[blog_message.utilisateur_id] %></a>]</i>
                - <a href="<%= blog_messages_path(blog_category_id: blog_message.blog_category_id) %>" class="btn btn-info btn-xs" role="button"><%= @blog_categories[blog_message.blog_category_id] %></a>
                <% if nbr_reponses and nbr_reponses > 0 %>
                    - <span class="badge"><%= pluralize(nbr_reponses, 'response') %></span>
                <% end %>

                <% if blog_message.logbook %>
                    <a href="<%= blog_messages_path(logbook: true) %>" 
                        class="btn btn-danger btn-xs " role="button"
                        data-toggle="tooltip" title="LogBook">
                        <span class="material-icons">local_library</span>
                    </a>
                <% end %>
            </div>

            <div class="panel-body">
                <p><h6>(Created : <%= blog_message.date %> / Updated : <%= blog_message.date %> / Published : <a href="<%= blog_messages_path(date: blog_message.date) %>" class="btn btn-link btn-xs" role="button"><%= blog_message.date %></a>)</h6></p>
                <% if @blog_services[blog_message.service_id] or @blog_classes[blog_message.classe] or @blog_groupes[blog_message.groupe] %>
                    <p>
                        Keyword(s) : 

                        <% if @blog_services[blog_message.service_id] %>
                            <a href="<%= blog_messages_path(service_id: blog_message.service_id) %>" class="btn btn-primary btn-xs" role="button"><%= @blog_services[blog_message.service_id] %></a>
                        <% end %>
                        
                        <% if @blog_classes[blog_message.classe] %>
                            <a href="<%= blog_messages_path(classe: blog_message.classe) %>" class="btn btn-default btn-xs" role="button"><%= @blog_classes[blog_message.classe] %></a>
                        <% end %>

                        <% if @blog_groupes[blog_message.groupe] %>
                            <a href="<%= blog_messages_path(groupe: blog_message.groupe) %>" class="btn btn-default btn-xs" role="button"><%= @blog_groupes[blog_message.groupe] %></a>
                        <% end %>
                        
                    </p>
                <% end %>
                <p><%= blog_message.description.truncate(80) %></p>
            </div>
        </div>
    </td>
    <td>
        <div class="btn-group">
            <%= link_to '<span data-toggle="tooltip" title="Read">
                    <i class="material-icons">import_contacts</i></span>'.html_safe, 
                    blog_message_path(blog_message),
                    class: "btn btn-success btn-xs" %>
            <% if user_signed_in? && (current_user.admin? || current_user.utilisateur.id == blog_message.utilisateur_id) %>
                <%= link_to '<span data-toggle="tooltip" title="Edit...">
                    <i class="material-icons">edit</i></span>'.html_safe, 
                    edit_blog_message_path(blog_message),
                    class: "btn btn-warning btn-xs" %>
                <%= link_to '<span data-toggle="tooltip" title="Delete!">
                    <i class="material-icons">close</i>'.html_safe, 
                    blog_message_path(blog_message),
                    method: :delete,
                    remote: true,
                    data: { confirm: "Delete blog_message '#{blog_message.title}' (#{blog_message.date}) [#{blog_message.service_id}] ?" },
                    class: "btn btn-danger btn-xs" %>
            <% end %>
        </div>
        
        <%= link_to '<span data-toggle="tooltip" title="Export PDF">
                    <i class="material-icons">picture_as_pdf</i></span>'.html_safe, 
                    blog_message_export_pdf_path(blog_message: blog_message, format: :pdf),
                    class: "btn btn-info btn-xs" if blog_message.logbook %>

    </td>
</tr>
