<% session[:page_aide] = "blog_messages" %>

<%= render "header" %>

<div class="container">

    <!-- NEW ARTICLE -->
    <div>
        <%= link_to '<i class="material-icons">add</i> '.html_safe, 
            new_blog_message_path,
            class: "btn btn-success btn-xs"
        %>
        &nbsp;
        <%= paginate @blog_messages, remote: true %>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <!-- MESSAGES -->
                <% @last_date = nil %>
                <%= render @blog_messages %>
        </div>
        <div class="col-sm-4">    
            <!-- TOOLBAR -->
            <%= render "toolbar_2" %>
        </div>
    </div>

    <!-- NEW ARTICLE -->
    <div>
        <%= link_to '<i class="material-icons">add</i> '.html_safe, 
            new_blog_message_path,
            class: "btn btn-success btn-xs"
        %>
        &nbsp;
        <%= paginate @blog_messages, remote: true %>
    </div>

</div>
