<tr id="message_<%= message.id %>">
    <td>
        <%= message.date %>
    </td>

    <td>
        <%= message.date_fin %>
    </td>

    <td>
        <%= message.service.nom %>
    </td>

    <td>
        <%= message.note %>
    </td>

    <td>
        <% if user_signed_in? && current_user.admin? %>
            <div class="btn-group">
                <%= link_to '<span data-toggle="tooltip">
                    <i class="material-icons">edit</i></span>'.html_safe, 
                    edit_message_path(message),
                    class: "btn btn-warning btn-xs" %>

                <%= link_to '<span data-toggle="tooltip" >
                    <i class="material-icons">close</i>'.html_safe, 
                    message_path(message),
                    method: :delete,
                    remote: true,
                    data: { confirm: "Delete message #{message.date}/#{message.date_fin} [#{message.service.nom}] ?" },
                    class: "btn btn-danger btn-xs" %>
            </div>
            <% end %>
        </div>
    </td>
</tr>
