<tr id="<%= dom_id maintenance_ressource %>">
  <td><%= maintenance_ressource.service.nom %></td>
  <td><%= maintenance_ressource.name %></td>
  <td>
    <% if user_signed_in? && (is_manager? or is_super_admin?)  %>
        <%= link_to '<span data-toggle="tooltip">
            <i class="material-icons">edit</i></span>'.html_safe, 
            edit_maintenance_ressource_path(maintenance_ressource),
            class: "btn btn-warning btn-xs" %>

        <%= link_to '<span data-toggle="tooltip">
            <i class="material-icons">close</i>'.html_safe, 
            maintenance_ressource_path(maintenance_ressource),
            method: :delete,
            remote: true,
            data: { confirm: "Delete #{maintenance_ressource.name} ?" },
            class: "btn btn-danger btn-xs" %>
    <% end %>
  </td>
</tr>
