<div class="panel panel-default ">    
    <div class="panel-body">
        <h3><span class="label label-danger">
            <%= I18n.t("utilisateurs.show.days").capitalize %>
            </span>
        </h3>
        <article>
            <% tmp_numero_semaine = nil %>
            <% tmp_numero_mois = nil %>
            <% tmp_date = nil %>
            <% tmp_lundi = nil %>
            <% tmp_jour = nil %>
            <% n_jour = 1 %>

            <table class="table-condensed table-bordered">
                <!-- Ligne des noms de jour -->
                <tr>
                    <th class="tdfixe">Period</th>
                    <th class="tdfixe"><%= I18n.t("Lundi").capitalize %></th>
                    <th class="tdfixe"><%= I18n.t("Mardi").capitalize %></th>
                    <th class="tdfixe"><%= I18n.t("Mercredi").capitalize %></th>
                    <th class="tdfixe"><%= I18n.t("Jeudi").capitalize %></th>
                    <th class="tdfixe"><%= I18n.t("Vendredi").capitalize %></th>
                    <th class="tdfixe">W</th>
                </tr>
                
                <% for i in 0..5 %>
                    <% tmp_lundi = (Date.today + (i*7).days).beginning_of_week %>
                    <!-- Ligne de semaine -->
                    <tr>
                        <!-- Case de la date -->
                        <td class="tdfixe">
                            <div class="badge">
                                <%= I18n.localize tmp_lundi, format: :short %> -- 
                                <%= I18n.localize (tmp_lundi.end_of_week - 2.days), format: :short %>
                            </div>
                        </td>

                        <!-- Pour chaque jour... -->
                        <% for d in 0..5 %>
                            <% tmp_jour = tmp_lundi + d.days %>
                            <td class="tdfixe">
                                <% @jours.where(date: tmp_jour).each do |batch| %>
                                    <% bg = "primary" %>
                                    <% bg = "info" if batch.am_pm %>
                                    <a href="<%= edit_jour_path(batch.id) %>" 
                                        data-toggle="tooltip" title="<%= batch.service.nom %>"
                                        class="btn btn-<%= bg %> btn-xs">
                                        <% @wks[batch].each do |wk| %>
                                            <%= wk %>
                                        <% end %>
                                    </a>
                                <% end %>
                            </td>
                        <% end %>
                    </tr>
                <% end %>
            </table>
        </article>
    </div>
</div>