<div class="panel panel-default ">
    <div class="panel-body">
        <h3><span class="label label-success">
            <%= I18n.t("utilisateurs.show.absences").capitalize %>
            </span>
        </h3>
        <article>
            <table class="table-condensed table-bordered">
            <tr>
                <th class="tdfixe">Month</th>
                <% 31.times do |i| %>
                    <% i+= 1 %>
                    <th><%= "0" if i<10 %><%= i %></th>
                <% end %>
            </tr>
            <% 6.times do |i| %>
                <% mois = (Date.today.beginning_of_month + (i*31).days) %>
                <tr>
                    <td><%= mois.strftime("%b") %></td>
                    <% (mois.end_of_month.day).times do |i2| %>
                        <% aj = mois+i2.days %>
                        <% bg = "" %>
                        <% bg = "conge_ok" if @absences[aj] and @absences[aj].accord %>
                        <% bg = "conge_wait" if @absences[aj] and (@absences[aj].accord.nil? or !@absences[aj].accord) %>
                        <td class="<%= bg %>">
                            <%= @absences[aj].type_absence.code if @absences[aj] %>
                        </td>
                    <% end %>
                </tr>
            <% end %>
            </table>
        </article>
    </div>
</div>