<div class="panel panel-default ">
    <div class="panel-body">
        <h3><span class="label label-success">
            <%= I18n.t("utilisateurs.show.absences").capitalize %>
            </span>
        </h3>
        <article>
            <table class="table-condensed table-bordered">
            <tr>
                <th class="tdfixe">Month</th>
                <% 31.times do |i| %>
                    <% i+= 1 %>
                    <th><%= "0" if i<10 %><%= i %></th>
                <% end %>
            </tr>
            <% 6.times do |i| %>
                <% mois = (Date.today.beginning_of_month + (i*31).days) %>
                <tr>
                    <td><%= mois.strftime("%b") %></td>
                    <% (mois.end_of_month.day).times do |i2| %>
                        <% aj = mois+i2.days %>
                        <% bg = "" %>
                        <% if @absences[aj] and @absences[aj].accord %>
                            <% bg = "conge_ok" %>
                            <% bg_btn = "success" %>
                        <% end %>
                        <% if @absences[aj] and (@absences[aj].accord.nil? or !@absences[aj].accord) %>
                            <% bg = "conge_wait"  %>
                            <% bg_btn = "danger" %>
                        <% end %>
                        <td class="<%= bg %>">
                            <% if @absences[aj] %>
                                <a href="<%= edit_absence_path(@absences[aj]) %>" class="btn btn-<%= bg_btn %> btn-xs">
                                    <%= @absences[aj].type_absence.code %>
                                </a>
                            <% end %>
                        </td>
                    <% end %>
                </tr>
            <% end %>
            </table>
        </article>
    </div>
</div>