<div class="panel panel-default ">
    <div class="panel-body">
        <h3><span class="label label-success">
            <%= I18n.t("utilisateurs.show.absences").capitalize %>
            </span>
        </h3>
        <article>
            <table class="table table-condensed table-bordered">
            <tr>
                <th class="tdfixe">Month</th>
                <% 31.times do |i| %>
                    <% i+= 1 %>
                    <th><%= "0" if i<10 %><%= i %></th>
                <% end %>
            </tr>
            <% 6.times do |i| %>
                <% mois = (Date.today.beginning_of_month + (i).months) %>
                <tr>
                    <td><%= mois.strftime("%b") %></td>
                    <% (Time.days_in_month(mois.month.to_i, mois.year.to_i)).times do |i2| %>
                        <% aj = mois+i2.days %>
                        <!-- Si le jour est en semaine...-->
                        <% if (1..5).include?(aj.wday) %>

                            <% bg = "" %>
                            <% if @absences[aj] and @absences[aj].accord %>
                                <% bg = "conge_ok" %>
                                <% bg_btn = "success" %>
                            <% end %>
                            <% if @absences[aj] and (@absences[aj].accord.nil? or !@absences[aj].accord) %>
                                <% bg = "conge_wait"  %>
                                <% bg_btn = "danger" %>
                            <% end %>
                            <td class="<%= bg %>">
                            
                                <% if @absences[aj] %>
                                    <a href="<%= edit_absence_path(@absences[aj]) %>" class="btn btn-<%= bg_btn %> btn-xs">
                                        <%= @absences[aj].type_absence.code %>
                                    </a>
                                <% end %>
                            </td>

                        <% else %>
                            <td class="weekend">&nbsp;</td>
                        <% end %>    
                    <% end %>
                </tr>
            <% end %>
            </table>
        </article>
    </div>
</div>