<tr id="utilisateur_<%= utilisateur.id %>">
    <td><%= utilisateur.prenom.capitalize %></td>
    <td><%= utilisateur.nom.capitalize %></td>
    <td><%= utilisateur.service.nom %></td>
    <td><%= utilisateur.groupe.nom %></td>
    <td>
    <% if user_signed_in? && current_user.admin? %>
        <%= link_to '<span data-toggle="tooltip" >
            <i class="material-icons">edit</i></span>'.html_safe, 
            edit_utilisateur_path(utilisateur),
            class: "btn btn-warning btn-xs" %>
        <%= link_to '<span data-toggle="tooltip" >
            <i class="material-icons">close</i>'.html_safe, 
            utilisateur_path(utilisateur),
            method: :delete,
            remote: true,
            data: { confirm: "Delete #{utilisateur.prenom_nom} ?" },
            class: "btn btn-danger btn-xs" %>
        

        &nbsp;

        <%= link_to '<span data-toggle="tooltip" >
            <i class="material-icons">portrait</i></span>'.html_safe, 
            utilisateur_path(utilisateur),
            class: "btn btn-info btn-xs" %>        
        <% end %>
    </td>

    <td>
        <%= time_ago_in_words(utilisateur.last_connection) unless utilisateur.last_connection.nil? %>
    </td>

</tr>