<tr id="utilisateur_<%= utilisateur.id %>">
    <td><%= utilisateur.service.nom %></td>
    <td><%= utilisateur.groupe.nom %></td>
    <td><%= utilisateur.prenom.capitalize %></td>
    <td>
        <%= utilisateur.nom.capitalize %>
        <% if @orphelins_utilisateurs.include?(utilisateur.id) %>
            <span class="material-icons">report_problem</span>
        <% end %>
    </td>
    <td><%= utilisateur.email %></td>
    <td>
        <% if utilisateur.admin? %>
        <span class="label label-success">&nbsp;</span>
        <% end %>
    </td>
    <td>
    <% if user_signed_in? && current_user.admin? %>
        <%= link_to '<span data-toggle="tooltip" >
            <i class="material-icons">edit</i></span>'.html_safe, 
            edit_utilisateur_path(utilisateur),
            class: "btn btn-warning btn-xs" %>
        <%= link_to '<span data-toggle="tooltip" >
            <i class="material-icons">close</i>'.html_safe, 
            utilisateur_path(utilisateur),
            method: :delete,
            remote: true,
            data: { confirm: "Delete #{utilisateur.prenom_nom} ?" },
            class: "btn btn-danger btn-xs" %>
        

        &nbsp;

        <%= link_to '<span data-toggle="tooltip" >
            <i class="material-icons">portrait</i></span>'.html_safe, 
            utilisateur_path(utilisateur),
            class: "btn btn-info btn-xs" %>        
        <% end %>
    </td>

    <td>
        <%= time_ago_in_words(utilisateur.last_action) unless utilisateur.last_action.nil? %>
    </td>


</tr>