<tr id="utilisateur_<%= utilisateur.id %>">
    <td><%= utilisateur.prenom.capitalize %></td>
    <td><%= utilisateur.nom.capitalize %></td>
    <td><%= utilisateur.service.nom %></td>
    <td><%= utilisateur.groupe.nom %></td>
    <td>
        <%= link_to " [Show] ", utilisateur_path(utilisateur) %>
        <%= link_to " [Edit] ", edit_utilisateur_path(utilisateur) %>
        <%= link_to " [Delete] ", utilisateur_path(utilisateur), 
            method: :delete,
            remote: true,
            data: { confirm: "Delete #{utilisateur.nom} ?" } 
        %>
        <%= link_to " [Semaines] ", "/semaines_utilisateur/#{utilisateur.id}" %>
    </td>
</tr>