<tr>
    <td><%= utilisateur.prenom %></td>
    <td><%= utilisateur.nom %></td>
    <td><%= utilisateur.email %></td>
    <td><%= utilisateur.phone %></td>
    <td><%= utilisateur.gsm %></td>
    <td><%= utilisateur.groupe.nom %></td>
    <td><%= utilisateur.service.nom %></td>
    <td><%= link_to " [Show] ", utilisateur_path(utilisateur) %></td>
</tr>