<% session[:page_aide] = "users_groups" %>

<div class="container">
<h1>
    <span class="label label-primary">
        <i class="material-icons">group</i>
        <%= I18n.t("utilisateurs.index.titre").upcase %>
    </span>
</h1>

<p>
<% if user_signed_in? && current_user.admin? %>
    <%= link_to '<i class="material-icons">person_add</i> '.html_safe, 
        new_utilisateur_path,
        class: "btn btn-success btn-xs" %>
        <% end %>
</p>

<% if user_signed_in? && current_user.admin? %>
    <p>
        <% if @orphelins_users.size>0 %>
            <div class="alert alert-warning alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <i class="material-icons">report_problem</i> <strong><%= I18n.t("utilisateurs.index.orphelins_users.warning") %> !</strong>
                <%= I18n.t("utilisateurs.index.orphelins_users.message") %>.
            </div>
        <% end %>
    </p>
<% end %>

<div id="utilisateurs">
    <%= render 'utilisateurs' %>
</div>

<p>
<% if user_signed_in? && current_user.admin? %>
    <%= link_to '<i class="material-icons">person_add</i> '.html_safe, 
        new_utilisateur_path,
        class: "btn btn-success btn-xs" %>
        <% end %>
</p>
</div>