<% session[:page_aide] = "profile" %>

            <!-- TITRE PRENOM NOM -->
            <div class="well well-lg">
                <h1>
                    <span class="label label-default">
                    <i class="material-icons">person</i> <%= @utilisateur.prenom_nom.upcase %>
                    </span>
                </h1>
            </div>

    <div class="container">
            <!-- Congés -->
            <%= render partial: "panel_absences" %>
    </div>

    <div class="container">
            <!-- JOURS -->
            <%= render partial: "panel_jours" %>
            
    </div>

    <div class="row">

        <div class="col-sm-6">
            <!-- USER INFO -->
            <%= render partial: "user_info" %>
        </div>
        <div class="col-sm-6">
            <!-- PROFILE CONNEXION (User) -->
            <%= render partial: "login_data" %>
        </div>
    </div>
