<% session[:page_aide] = "profile" %>


    <div class="row">
        
        <!-- Colonne de gauche/centre -->
        <div class="col-sm-9">
            <!-- TITRE PRENOM NOM -->
            <div class="well well-lg">
                <h1>
                    <span class="label label-default">
                    <i class="material-icons">person</i> <%= @utilisateur.prenom_nom.upcase %>
                    </span>
                </h1>
            </div>

            <!-- Mois utilisateur -->
            <!-- <%= render partial: "panel_mois_utilisateur" %> -->

            <!-- Congés -->
            <%= render partial: "panel_absences" %>

            <!-- JOURS -->
            <%= render partial: "panel_jours" %>
            
        </div>

        <!-- Colonne de droite -->
        <div class="col-sm-3">
            <!-- USER INFO -->
            <%= render partial: "user_info" %>
            <!-- PROFILE CONNEXION (User) -->
            <%= render partial: "login_data" %>
        </div>

    </div>
