<div class="container">
<div class="row">
    <div class="col-sm-8">
        <div class="well well-lg">
            <h1>
                <span class="label label-default">
                <i class="material-icons">person</i> <%= @utilisateur.prenom_nom.upcase %>
                </span>
            </h1>
        </div>
    </div>
</div>

<div class="row">
    <!-- PROFILE UTILISATEUR -->
    <div class="col-sm-4">
        <div class="panel panel-default ">
            <div class="panel-heading">
                <h2>
                    <span class="label label-default">
                    <i class="material-icons">account_box</i> <%= I18n.t("utilisateurs.show.fiche").capitalize %>
                    </span>
                </h2>
            </div>
            <div class="panel-body">
                <p>
                    <span class="material-icons">email</span>
                    <%= @utilisateur.email %>
                </p>
                <p>
                    <span class="material-icons">phone</span>
                    <%= @utilisateur.phone %>
                </p>

                <p>
                    <span class="material-icons">phone_iphone</span>
                    <%= @utilisateur.gsm %>
                </p>
                <p>
                    <span class="material-icons">group</span>
                    <%= @utilisateur.groupe.nom %>
                </p>
                <p>
                    <span class="material-icons">business</span>
                    <%= @utilisateur.service.nom %>
                </p>
            </div>
            <div class="panel-footer">
                <%= link_to " [#{I18n.t('utilisateurs.show.edit_informations')}] ", 
                    edit_utilisateur_path(@utilisateur),
                    class: "btn btn-info"
                %>
            </div>
        </div>
    </div>

    <!-- PROFILE CONNEXION (User) -->
    <div class="col-sm-4">
        <div class="panel panel-default ">
            <div class="panel-heading">
                <h2>
                    <span class="label label-default">
                        <i class="material-icons">login</i> <%= I18n.t("utilisateurs.show.login").capitalize %>
                    </span>
                </h2>
            </div>
            <div class="panel-body">

                <% if @utilisateur.user %>
                    <p>
                        <span class="material-icons">email</span>
                        <%= @utilisateur.user.email %>
                    </p>
                    <p>
                        <span class="material-icons">vpn_key</span>
                        <%= @utilisateur.user.password %>
                    </p>

                    <p>
                        <span class="material-icons">admin_panel_settings</span>
                        <%= @utilisateur.admin %>
                    </p>
                <% else %>
                    

                <% end %>

            </div>
            <div class="panel-footer">
                <% if @utilisateur.user %>
                    <% if @utilisateur.user == current_user %>
                        <%= link_to " [#{I18n.t('utilisateurs.show.edit_login')}] ", 
                            edit_user_registration_path,
                            class: "btn btn-info"
                        %>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>
</div>