<% session[:page_aide] = "profile" %>

<!-- TITRE PRENOM NOM -->
<%= render partial: "utilisateurs/show/header" %>

<!-- Congés -->
<div class="container"><%= render partial: "utilisateurs/show/panel_absences" %></div>

<!-- JOURS -->
<div class="container"><%= render partial: "utilisateurs/show/panel_jours" %></div>


<div class="row">

    <!-- USER INFO -->
    <div class="col-sm-6"><%= render partial: "utilisateurs/show/user_info" %></div>

    <!-- PROFILE CONNEXION (User) -->
    <% if @utilisateur.user || is_super_admin? %>
        <div class="col-sm-6"><%= render partial: "utilisateurs/show/login_data" %></div>
    <% end %>

</div>
