<% bg = "default" %>
<% @status_color.each do |icon, couleur| %>
    <% if icon == bug_repport.status %>
        <% bg = couleur %>
        <% break %>
    <% end %>
<% end %>

<tr id="bug_repport_<%= bug_repport.id %>" class="<%= bg %>">
    <td><%= bug_repport.date %></td>
    <td><i class="material-icons"><%= bug_repport.status %></i></td>
    <td><%= bug_repport.utilisateur.prenom_nom %></td>
    <td><%= bug_repport.nom %></td>
    <td><%= bug_repport.description %></td>
    <td>
    <% service_utilisateur = bug_repport.utilisateur.service %>
    <% if user_signed_in? && 
        (is_super_admin? || 
        current_user.utilisateur == bug_repport.utilisateur ||
        is_manager?) %>

        <% if (current_user.utilisateur == bug_repport.utilisateur) or
            (is_super_admin? || is_manager?)
        %>
            <%= link_to '<span data-toggle="tooltip">
                    <i class="material-icons">edit</i></span>'.html_safe, 
                    edit_bug_repport_path(bug_repport),
                    class: "btn btn-warning btn-xs" %>
        <% end %>

        <%= link_to '<i class="material-icons">close</i>'.html_safe, 
                    bug_repport_path(bug_repport),
                    method: :delete,
                    remote: true,
                    data: { confirm: "Delete #{bug_repport.date} - #{bug_repport.utilisateur.prenom_nom}  ?" },
                    class: "btn btn-danger btn-xs" %>
        
    <% end %>
    </td>
    
</tr>