<!-- Table paginée -->
<p><%= paginate @bug_repports, remote: true %></p>
<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th><%= I18n.t("bug_repports.index.dates") %></th>
            <th><%= I18n.t("bug_repports.index.status") %></th>
            <th><%= I18n.t("bug_repports.index.utilisateurs") %></th>
            <th><%= I18n.t("bug_repports.index.noms") %></th>
            <th><%= I18n.t("bug_repports.index.descriptions") %></th>
        </tr>
        <%= render @bug_repports %>
    </table>
</div>
<p><%= paginate @bug_repports, remote: true %></p>
