<%= form_with model: @task, local: true do |form| %>

    <% if @task.errors.any? %>
        <strong>WARNING</strong>
        <ul>
            <% @task.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    <% end %>


    <div class="row">

        <div class="col-sm-4">

            <fieldset>
            <legend><%= I18n.t("tasks.form.basics_informations").capitalize %></legend>
            <!-- Nom -->
            <p>
                <%= form.label I18n.t("tasks.form.nom") %><br>
                <%= form.text_field :nom %>
            </p>

            <!-- Code -->
            <p>
                <%= form.label I18n.t("tasks.form.code") %><br>
                <%= form.text_field :code %>
            </p>

            <!-- Description -->
            <p>
                <%= form.label I18n.t("tasks.form.description") %><br>
                <%= form.text_field :description %>
            </p>

            </fieldset>
        </div>
        
        
        <div class="col-sm-4">
            <fieldset>
            <legend><%= I18n.t("tasks.form.user_target").capitalize %></legend>

            <!-- Groupe -->
            <p>
                <%= form.label I18n.t("tasks.form.groupe") %><br>
                <%= form.select(:groupe_id) do %>
                    <%= select_option_tag("", nil, @task.groupe_id) %>
                    <% Groupe.all.find_each do |l| %>
                        <%= select_option_tag(l.nom.capitalize, l.id, @task.groupe_id) %>
                    <% end %>
                <% end %>
            </p>

            <!-- Classe -->
            <p>
                <%= form.label I18n.t("tasks.form.classe") %><br>
                <%= form.select(:classe_id) do %>
                    <%= select_option_tag("", nil, @task.classe_id) %>
                    <% Classe.all.find_each do |l| %>
                        <%= select_option_tag(l.nom.capitalize, l.id, @task.classe_id) %>
                    <% end %>
                <% end %>
            </p>

            <!-- SERVICE -->
            <% if current_user.admin? %>
                <% services = Service.all %>
            <% else %>
                <% services = Service.where(id: current_user.utilisateur.service) %>
            <% end %>
            <p>
                <%= form.label I18n.t("tasks.form.service") %><br>
                <%= form.select(:service_id) do %>
                    <%= select_option_tag("", nil, @task.service_id) %>
                    <% services.find_each do |l| %>
                        <%= select_option_tag(l.nom.capitalize, l.id, @task.service_id) %>
                    <% end %>
                <% end %>
            </p>
            </fieldset>
        </div>

        <!-- Occurences -->
        <div class="col-sm-4">
            <fieldset>
            <legend><%= I18n.t("tasks.form.occurrences").capitalize %></legend>
            <p>
                <%= form.label I18n.t("tasks.form.repeat") %><br>
                <%= form.select(:repeat) do %>
                    <%= select_option_tag("", nil, @task.repeat) %>
                    
                    <% repeats.each do |l| %>
                        <%= select_option_tag("#{l[1].capitalize} (#{l[0]})", l[0], @task.repeat) %>
                    <% end %>
                <% end %>
            </p>
            </fieldset>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-4">
            <p><%= form.submit class: "btn btn-primary" %></p>
        </div>
    </div>

<% end %>