<p><%= paginate @tasks, remote: true %></p>
<table class="table table-striped">
    <tr>
        <th><%= I18n.t("tasks.form.code") %></th>
        <th>[<%= Date.today.year %>]</th>
        <th><%= I18n.t("tasks.form.nom") %></th>
        <th><%= I18n.t("tasks.form.description") %></th>
        <th><%= I18n.t("tasks.form.groupe") %></th>
        <th><%= I18n.t("tasks.form.classe") %></th>
        <th><%= I18n.t("tasks.form.service") %></th>
        <th></th></tr>
    <%= render @tasks %>
</table>
<p><%= paginate @tasks, remote: true %></p>