<%= form_with model: @postit, local: true do |form| %>

    <% if @postit.errors.any? %>
        <strong>WARNING</strong>
        <ul>
            <% @postit.errors.full_messages.each do |message| %>
                <li class="bg-danger">
                    <%= message %>
                </li>
            <% end %>
        </ul>
    <% end %>


    <div class="row">
        <div class="col-sm-4">
            <p>
                <%= form.label I18n.t("postits.form.title") %><br>
                <%= form.text_field :title %>
            </p>
            
            <p>
                <%= form.label I18n.t("postits.form.body") %><br>
                <%= form.text_field :body %>
            </p>

            <p>
                <%= form.label I18n.t("postits.form.level") %><br>
                <%= form.text_field :level %>
            </p>
            
            <p>
                <%= form.label I18n.t("postits.form.is_private") %>
                <%= form.check_box :is_private %>
            </p>

            <p>
                <%= form.label I18n.t("postits.form.taken") %><br>
                <%= form.select(:taken_id) do %>
                    <%= select_option_tag("", nil, @postit.taken) %>
                    <% Utilisateur.where(service: current_user.utilisateur.service).order(:prenom).each do |l| %>
                        <%= select_option_tag(l.prenom_nom, l.id, @postit.taken_id) %>
                    <% end %>
                <% end %>



            </p>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <p><%= form.submit class: "btn btn-primary" %></p>
        </div>
    </div>

<% end %>