<%= form_with model: @work, local: true do |form| %>

    <% if @work.errors.any? %>
        <strong>WARNING</strong>
        <ul>
            <% @work.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    <% end %>

    <!-- Nom -->
    <p>
        <%= form.label I18n.t("works.form.nom") %><br>
        <%= form.text_field :nom %>
    </p>

    <!-- Code -->
    <p>
        <%= form.label I18n.t("works.form.code") %><br>
        <%= form.text_field :code %>
    </p>

    <!-- Groupe -->
    <p>
        <%= form.label I18n.t("works.form.groupe") %><br>
        <%= form.select(:groupe_id) do %>
            <%= select_option_tag("", nil, @work.groupe_id) %>
            <% Groupe.all.find_each do |l| %>
                <%= select_option_tag(l.nom.capitalize, l.id, @work.groupe_id) %>
            <% end %>
        <% end %>
    </p>

    <!-- Classe -->
    <p>
        <%= form.label I18n.t("works.form.classe") %><br>
        <%= form.select(:classe_id) do %>
            <%= select_option_tag("", nil, @work.classe_id) %>
            <% Classe.all.find_each do |l| %>
                <%= select_option_tag(l.nom.capitalize, l.id, @work.classe_id) %>
            <% end %>
        <% end %>
    </p>


    <!-- SERVICE -->
    <p>
        <%= form.label I18n.t("works.form.service") %><br>
        <%= form.select(:service_id) do %>
            <%= select_option_tag("", nil, @work.service_id) %>
            <% Service.all.find_each do |l| %>
                <%= select_option_tag(l.nom.capitalize, l.id, @work.service_id) %>
            <% end %>
        <% end %>
    </p>


    <!-- Description -->
    <p>
        <%= form.label I18n.t("works.form.description") %><br>
        <%= form.text_field :description %>
    </p>

    <p>
        <%= form.submit class: "btn btn-primary" %>
    </p>

<% end %>