<tr id="work_<%= work.id %>">
    <td colspan="2"><strong><%= work.code %></strong> </td>
    <td> <%= work.nom %></td>
    <td><%= work.description %></td>
    <td><%= work.groupe.nom unless work.groupe.nil? %></td>
    <td><%= work.classe.nom unless work.classe.nil? %></td>
    <td><%= work.service.nom unless work.service.nil? %></td>
    <td>
        <%= link_to " [Show] ", work_path(work) %>
        <%= link_to " [Edit] ", edit_work_path(work) %>
        <%= link_to " [Delete] ", work_path(work), 
            method: :delete,
            remote: true,
            data: { confirm: "Delete #{work.nom} ?" } 
        %>
        <%= link_to " [Working Lists] ", "/working_lists_work/#{work.id}" %>
    </td>
</tr>