<h1>
    <%= @work.nom %>
</h1>

<p>
    <strong>Code : </strong> <%= @work.code %>
</p>

<p>
    <strong>Classe : </strong> <%= @work.classe.nom %>
</p>

<p>
    <strong>Groupe : </strong> <%= @work.groupe.nom %>
</p>

<p>
    <strong>Service : </strong> <%= @work.service.nom %>
</p>

<p>
    <strong>Description : </strong> <%= @work.description %> 
</p>

<p>
    <%= link_to " [Edit] ", edit_work_path(@work) %>
</p>