<table class="table">
    <tr>
        <th><%= I18n.t("ajouts.index.date") %></th>
        <th><%= I18n.t("ajouts.index.service") %></th>
        <th><%= I18n.t("ajouts.index.utilisateur") %></th>
        <th><%= I18n.t("ajouts.index.work") %></th>
        <th></th>
        <th></th>
    </tr>
    <%= render @ajouts %>
</table>