
<% classe = "" %>
<% valide = true %>

<!-- plusieurs services définis... -->
<% if check_services = ajout.check_services %>
    <% classe = "warning" unless check_services.nil? %>
    <% valide = false %>
    <% message = I18n.t("ajouts.index.error_service") %>
<% end %>

<!-- un batch existe déjà pour cet utilisateur à cette date au même part time... -->
<% if ajout_exists = ajout.exists_in_db? %>
    <% classe = "danger" if ajout_exists %>
    <% valide = false %>
    <% message = I18n.t("ajouts.index.error_already_exists") %>
<% end %>


<tr id="ajout_<%= ajout.id %>" class="<%= classe %>">

    <% ajout.utilisateur %>
    <td>
        <%= "#{nom_jour(ajout.date.cwday)} #{ajout.date} (#{am_pm(ajout.am_pm)})" %>
    </td>
    <td>
        
        <!-- On affiche le/les service(s) -->
        <% if check_services %>
            <% check_services.each do |s| %>
                <span class="label label-warning" title="<%= message %>"><%= s %></span><br>
            <% end %>
        <% else %>
            <%= ajout.service %>
        <% end %>


    </td>
    <td><%= ajout.utilisateur.prenom_nom %></td>
    <td>
        <ul>
            <% ajout.works.each do |wid| %>
            <li><%= @works.find(wid).code %></li>
            <% end %>
        </ul>
    </td>
    <td>
        <div class="btn-group">
            <%= link_to '<i class="material-icons">cancel</i><br>
                Annuler'.html_safe, ajout_path(ajout), 
                class: "btn btn-danger",
                title: I18n.t("ajouts.index.annuler"),
                method: :delete,
                remote: true, 
                data: { confirm: "Delete #{ajout.utilisateur.prenom_nom}\n
                    (#{ajout.date}) ?" } %>
            <%= link_to '<i class="material-icons">undo</i><br>
                Revoir/Editer'.html_safe, 
                edit_ajout_path(ajout), 
                class: "btn btn-primary",
                title: I18n.t("ajouts.index.editer") %>
            
            <%= link_to '<i class="material-icons">file_copy</i><br>
                Dupliquer'.html_safe,
                "ajouts/#{ajout.id}/dupliquer", 
                class: "btn btn-info #{"disabled" unless valide}",
                title: I18n.t("ajouts.index.dupliquer") %>
        </div>
        <div class="btn-group">
            <%= link_to '<i class="material-icons">playlist_add_check</i><br>
                Valider'.html_safe, 
                "ajouts/#{ajout.id}/valider", 
                class: "btn btn-success ",
                title: I18n.t("ajouts.index.valider") %>
        </div>
    </td>

    <td>
        <% unless valide %>
            <span class="badge" title="<%= message %>">
                <span class="material-icons">warning</span>
            </span>
        <% end %>
    </td>
</tr>