<tr id="ajout_<%= ajout.id %>">
    <% ajout.utilisateur %>
    <td>
        <%= "#{nom_jour(ajout.date.cwday)} #{ajout.date} (#{am_pm(ajout.am_pm)})" %>
    </td>
    <td></td>
    <td><%= ajout.utilisateur.prenom_nom %></td>
    <td>
        <ul>
            <% ajout.works.each do |wid| %>
            <li><%= @works.find(wid).code %></li>
            <% end %>
        </ul>
    </td>
    <td>
        <div class="btn-group">
            <%= link_to '<i class="material-icons">cancel</i><br>
                Annuler'.html_safe, ajout_path(ajout), 
                class: "btn btn-danger",
                title: "Annuler l'attribution",
                method: :delete,
                remote: true, 
                data: { confirm: "Delete #{ajout.utilisateur.prenom_nom}\n
                    (#{ajout.date}) ?" } %>
            <%= link_to '<i class="material-icons">undo</i><br>
                Revoir/Editer'.html_safe, 
                edit_ajout_path(ajout), 
                class: "btn btn-primary",
                title: "Editer l'attribution" %>
            
            <%= link_to '<i class="material-icons">file_copy</i><br>
                Dupliquer'.html_safe, 
                "#",
                #"ajouts/#{ajout.id}/valider", 
                class: "btn btn-info",
                title: "Dupliquer au jour suivant" %>
        </div>
        <div class="btn-group">
            <%= link_to '<i class="material-icons">playlist_add_check</i><br>
                Valider'.html_safe, 
                "ajouts/#{ajout.id}/valider", 
                class: "btn btn-success",
                title: "Valider l'attribution" %>
        </div>
    </td>
</tr>