<h1>
    <span class="label label-primary">
        <i class="material-icons">today</i>
        <%= I18n.t("ajouts.index.titre").upcase %>
    </span>
</h1>
<div class="container">
    <h2><%= I18n.t("ajouts.new.titre").capitalize %></h2>
    <p><%= I18n.t("ajouts.new.description") %></p>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home"><strong><%= I18n.t("ajouts.new.quand") %> ?</strong></a></li>
        <li><a data-toggle="tab" href="#menu2"><strong><%= I18n.t("ajouts.new.qui") %> ?</strong></a></li>
        <li><a data-toggle="tab" href="#menu1"><strong><%= I18n.t("ajouts.new.quoi") %> ?</strong></a></li>
        <li><a data-toggle="tab" href="#menu3"><strong><%= I18n.t("ajouts.new.confirmer") %></strong></a></li>
    </ul>

    <%= form_with model: @ajout, local: true do |form| %>

    <% if @ajout.errors.any? %>
    <strong>WARNING</strong>
    <ul>
        <% @ajout.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
    <% end %>




    <div class="tab-content">


        <!-- ===== QUAND ? ===== -->

        <div id="home" class="tab-pane fade in active">
            <h3><%= I18n.t("ajouts.new.quand") %> ?</h3>
            <p><%= I18n.t("ajouts.new.quand_texte") %></p>

            <p>
                <%= form.label I18n.t("ajouts.new.date") %><br>
                <%= form.date_field :date %>
            </p>

            <p>
                <%= form.radio_button :am_pm, false %> <%= form.label I18n.t("ajouts.new.am") %>
                <%= form.radio_button :am_pm, true %> <%= form.label I18n.t("ajouts.new.pm") %>
            </p>

            <p>
                <%= form.check_box :etendre %> <%= form.label I18n.t("ajouts.new.etendre") %>
            </p>

        </div>



        <!-- ===== QUI ? ===== -->

        <div id="menu2" class="tab-pane fade">
            <h3><%= I18n.t("ajouts.new.qui") %> ?</h3>
            <p><%= form.label I18n.t("ajouts.new.qui_texte") %></p>
            <div class="form-group">
                <!-- Utilisateur -->
                <p>
                    <%= form.label I18n.t("ajouts.new.utilisateur") %><br>
                    <%= form.select(:utilisateur_id, @utilisateurs.collect {|p| [ "[#{p.service.nom}] - (#{p.groupe.nom}) - #{p.prenom_nom}", p.id ] }, 
                                            { }, 
                                            { :multiple => false, :size => 10 }) %>
                </p>
            </div>
        </div>



        <!-- ===== QUOI ? ===== -->

        
        <div id="menu1" class="tab-pane fade">
            <h3><%= I18n.t("ajouts.new.quoi") %> ?</h3>
            <p><%= I18n.t("ajouts.new.qui_texte") %></p>
            <div class="form-group">

                <div class="row">
                    <div class="col-sm-4">
                        <p>
                            <%= form.label :work1 %><br>
                            <%= form.select(:work1, @works.collect {|p| [ "(#{@services.where(id: p.service_id).first.nom}) - [#{@classes.where(id: p.classe_id).first.nom}] - (#{p.code}) - #{p.nom}", p.id ] }, 
                                            { include_blank: true },
                                            { :multiple => false, :size => 20 }) %>
                        </p>
                    </div>
                    <div class="col-sm-4">
                        <p>
                            <%= form.label :work2 %><br>
                            <%= form.select(:work2, @works.collect {|p| [ "(#{@services.where(id: p.service_id).first.nom}) - [#{@classes.where(id: p.classe_id).first.nom}] - (#{p.code}) - #{p.nom}", p.id ] }, 
                                           { include_blank: true },
                                            { :multiple => false, :size => 20 }) %>
                        </p>
                    </div>
                    <div class="col-sm-4">
                        <p>
                            <%= form.label :work3 %><br>
                            <%= form.select(:work3, @works.collect {|p| [ "(#{@services.where(id: p.service_id).first.nom}) - [#{@classes.where(id: p.classe_id).first.nom}] - (#{p.code}) - #{p.nom}", p.id ] }, 
                                            { include_blank: true },
                                            { :multiple => false, :size => 20 }) %>
                        </p>
                    </div>
                    <div class="col-sm-4">
                        <p>
                            <%= form.label :work4 %><br>
                            <%= form.select(:work4, @works.collect {|p| [ "(#{@services.where(id: p.service_id).first.nom}) - [#{@classes.where(id: p.classe_id).first.nom}] - (#{p.code}) - #{p.nom}", p.id ] }, 
                                            { include_blank: true },
                                            { :multiple => false, :size => 20 }) %>
                        </p>
                    </div>
                    <div class="col-sm-4">
                        <p>
                            <%= form.label :work5 %><br>
                            <%= form.select(:work5, @works.collect {|p| [ "(#{@services.where(id: p.service_id).first.nom}) - [#{@classes.where(id: p.classe_id).first.nom}] - (#{p.code}) - #{p.nom}", p.id ] }, 
                                            { include_blank: true },
                                            { :multiple => false, :size => 20 }) %>
                        </p>
                    </div>
                </div>

            </div>
        </div>



        <!-- ===== CONFIRMER ? ===== -->

        <div id="menu3" class="tab-pane fade">
            <h3><%= I18n.t("ajouts.new.confirmer") %></h3>
            <p><%= I18n.t("ajouts.new.confirmer_texte") %></p>
            

            <p>
                <%= form.submit class: "btn btn-primary" %>
            </p>

        </div>


    </div>

    <% end %>

</div>
