<h1>Dernier ajout</h1>

<% unless @ajout.nil? %>
    <h3>Utilisateur</h3>
    <p><%= prenom_nom(@utilisateur) %></p>

    <h3>Date Lundi</h3>
    <p><%= @ajout.date_lundi %></p>

    <h3>Numéro du jour</h3>
    <p><%= @ajout.numero_jour %></p>

    <h3>Works</h3>
    <ul>
        <% if @ajout.work1 %>
            <li><%= @works.where(id: @ajout.work1).first.code %></li>
        <% end %>
        <% if @ajout.work2 %>
            <li><%= @works.where(id: @ajout.work2).first.code %></li>
        <% end %>
        <% if @ajout.work3 %>
            <li><%= @works.where(id: @ajout.work3).first.code %></li>
        <% end %>
        <% if @ajout.work4 %>
            <li><%= @works.where(id: @ajout.work4).first.code %></li>
        <% end %>
        <% if @ajout.work5 %>
            <li><%= @works.where(id: @ajout.work5).first.code %></li>
        <% end %>
    </ul>
<% end %>
