<% session[:page_aide] = "ajouts" %>
<div class="container">
<h1>
    <span class="label label-primary">
        <i class="material-icons">today</i>
        <%= I18n.t("ajouts.index.titre").upcase %>
    </span>
</h1>

<p>
    <%= link_to '<i class="material-icons">playlist_add</i>'.html_safe, 
        new_ajout_path,
        class: "btn btn-success btn-xs",
        title: "New batch" %>

    <%= link_to '<i class="material-icons">content_copy</i>'.html_safe, 
        templates_path,
        class: "btn btn-warning btn-xs",
        title: "New batch from template" %>
</p>

<div class="container">
    <%= render 'ajouts' %>
</div>

<p>
    <%= link_to '<i class="material-icons">playlist_add</i>'.html_safe, 
        new_ajout_path,
        class: "btn btn-success btn-xs",
        title: "New batch" %>
</p>
</div>