<div class="container">
  <h2>Nouvelle Attribution :</h2>
  <p>Veuillez remplir les différents champs dans les onglets ci-dessous, puis terminer par "<em>Confirmer</em>".</p>

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home"><strong>Quand ?</strong></a></li>
    <li><a data-toggle="tab" href="#menu2"><strong>Qui ?</strong></a></li>
    <li><a data-toggle="tab" href="#menu1"><strong>Quoi ?</strong></a></li>
    <li><a data-toggle="tab" href="#menu3"><strong>Confirmer</strong></a></li>
  </ul>

<%= form_with model: @ajout, local: true do |form| %>



  <% if @ajout.errors.any? %>
    <strong>WARNING</strong>
    <ul>
        <% @ajout.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
    </ul>
  <% end %>




  <div class="tab-content">
  

<!-- ===== QUAND ? ===== -->

    <div id="home" class="tab-pane fade in active">
      <h3>Quand ?</h3>
      <p>Veuillez indiquer ci-dessous la période pour laquelle vous voulez affecter une attribution.</p>

      <p>
        <%= form.label :date_lundi %><br>
        <%= form.date_field :date_lundi %>
      </p>
    </div>



<!-- ===== QUI ? ===== -->

    <div id="menu2" class="tab-pane fade">
      <h3>Qui ?</h3>
      <p>Veuillez indiquer l'utilisateur auquel vous voulez affecter le ou les travaux précédement séléctionné(s).</p>
      <div class="form-group">
        <!-- Utilisateur -->
        <p>
          <%= form.label :utilisateur %><br>
          <%= form.select(:utilisateur, @utilisateurs.collect {|p| [ "[#{@groupes.where(id: p.groupe_id).first.nom}] #{prenom_nom(p)}", p.id ] }, 
                                            { }, 
                                            { :multiple => false, :size => 10 }) %>
        </p>
      </div>
    </div>



<!-- ===== QUOI ? ===== -->    
    
    <div id="menu1" class="tab-pane fade">
      <h3>Quoi ?</h3>
      <p>Veuillez indiquer ci-dessous le ou les travaux à affacter à la date choisie dans l'onglet précédent.</p>
      <div class="form-group">

        <p>
          <%= form.label :works %><br>
          <%= form.select(:works, @works.collect {|p| [ "[#{@classes.where(id: p.classe_id).first.nom}] #{p.nom}", p.id ] }, 
                                            { }, 
                                            { :multiple => true, :size => 20 }) %>
        </p>
      </div>
    </div>

    

<!-- ===== CONFIRMER ? ===== -->    
    
    <div id="menu3" class="tab-pane fade">
      <h3>Confirmer</h3>
      <p>Veuillez vérifier les données ci-dessous et confirmer le cas échéant.</p>
      <p>Date(s) : <%=  %></p>
      <p>Utilisateur : <%=  %></p>
      <ul>
      	<li></li>
        <li></li>
        <li></li>
      </ul>
      
      <p>
        <%= form.submit class: "btn btn-primary" %>
      </p>
      
    </div>
    
    
  </div>
  
  <% end %>
  
</div>

