<%= form_with model: @job, local: true do |form| %>

    <% if @job.errors.any? %>
        <strong>WARNING</strong>
        <ul>
            <% @job.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    <% end %>

    <!-- Semaine -->
    <p>
        <%= form.label :semaine_id %><br>
        <%= form.select(:semaine_id) do %>
            <%= select_option_tag("", nil, @job.semaine_id) %>
            <% Semaine.order(date_lundi: :desc).find_each do |l| %>
                <%= select_option_tag("#{l.date_lundi} #{l.slug}", l.id, @job.semaine_id) %>
            <% end %>
        <% end %>
    </p>

    <!-- Jour -->
    <p>
        <%= form.label :numero_jour %><br>
        <%= form.select(:numero_jour) do %>
            <%= select_option_tag("", nil, @job.semaine_id) %>
            <% 5.times do |l| %>
                <%= select_option_tag("#{l+1}", (l+1), @job.numero_jour) %>
            <% end %>
        <% end %>
    </p>

    <!-- AM/PM -->
    <p>
        <%= form.label :am_pm %><br>
        <span data-toggle="tooltip" title="Cochez pour indiquer l'après-midi.">
            <%= form.check_box :am_pm %>
        </span>
    </p>

    <!-- Note -->
    <p>
        <%= form.label :note %><br>
        <%= form.text_field :note %>
    </p>

    <p>
        <% if Semaine.all.empty? %>
            <span data-toggle="tooltip" title="Semaine doit contenir au moins une entrée.">
                <%= form.submit class: "btn btn-primary disabled" %>
            </span>
        <% else %>
            <%= form.submit class: "btn btn-primary" %>
        <% end %>
    </p>
<% end %>