<%= form_with model: @job, local: true do |form| %>

    <% if @job.errors.any? %>
        <strong>WARNING</strong>
        <ul>
            <% @job.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    <% end %>

    <!-- SERVICE -->
    <p>
        <%= form.label :service_id %><br>
        <%= form.select(:service_id) do %>
            <%= select_option_tag("", nil, @job.service_id) %>
            <% Service.all.find_each do |l| %>
                <%= select_option_tag(l.nom.capitalize, l.id, @job.service_id) %>
            <% end %>
        <% end %>
    </p>
    

    <!-- Semaine -->
    <p>
        <% @semaines = Semaine.order(date_lundi: :asc, slug: :asc) %>
        <%= form.label :semaine_id %><br>
        <%= form.select(:semaine_id) do %>
            <%= select_option_tag("", nil, @job.semaine_id) %>
            <% tampon = "" %>
            <% @semaines.each do |l| %>
                <% if l.date_lundi != tampon %>
                    <%= select_option_tag("", nil, @job.semaine_id) %>
                <% end %>
                <%= select_option_tag("[#{l.date_lundi}] #{l.slug}", l.id, @job.semaine_id) %>
                <% tampon = l.date_lundi %>
            <% end %>
        <% end %>
    </p>


    <!-- Jour -->
    <% jours = {1 => "Lundi",
                2 => "Mardi",
                3 => "Mercredi",
                4 => "Jeudi",
                5 => "Vendredi"
        }
    %>
    <p>
        <%= form.label :numero_jour %><br>
        <%= form.select(:numero_jour, 
                jours.collect {|key, value| [value , key]}, 
                { }, 
                { :multiple => true, :size => 5 }
            ) 
        %>
    </p>

    <!-- AM/PM -->
    <p>
        <%= form.label :am_pm %>
        <span data-toggle="tooltip" title="Cochez pour indiquer l'après-midi.">
            <%= form.check_box :am_pm %>
        </span>
    </p>

    <!-- Note -->
    <p>
        <%= form.label :note %><br>
        <%= form.text_field :note %>
    </p>

    <p>
        <% if @semaines.empty? %>
            <span data-toggle="tooltip" title="Semaine doit contenir au moins une entrée.">
                <%= form.submit class: "btn btn-primary disabled" %>
            </span>
        <% else %>
            <%= form.submit class: "btn btn-primary" %>
        <% end %>
    </p>
<% end %>