<% semaine_en_arriere = 6 %>
<% semaine_en_avant = 4 %>
<% date_depart = Date.today - semaine_en_arriere.weeks %>
<% nombre_semaines_a_lire = 52 + semaine_en_arriere + semaine_en_avant %>

<div class="row grille">
    <table class="table-condensed table table-bordered table-striped table-responsive">
        <thead>
        <tr>
            <th><%= Date.today.year %></th>
            <% 5.times do |n| %>
                <th><%= nom_jour(n+1) %></th>
            <% end %>
        </tr>
        </thead>
        
        <tbody>
        <% nombre_semaines_a_lire.times do |n_semaine| %>
            <% semaine_parcourue = (date_depart+n_semaine.weeks) %>
            <% couleur_ligne_semaine = ("#{Date.today.cweek}-#{Date.today.year}"=="#{semaine_parcourue.cweek}-#{semaine_parcourue.year}") ? "warning" : "default" %>
            <tr class=<%= "#{couleur_ligne_semaine}" %>>
                <% numero_semaine = "#{semaine_parcourue.cweek<10 ? '0' : ''}#{semaine_parcourue.cweek}" %>
                <td><%= "#{numero_semaine}" %></td>
                <% 5.times do |n| %>
                    <td>
                        <!-- Liste des semaines utilisateurs attribués -->
                        <% @jobs.where(numero_jour: "#{n+1}").each do |j| %>
                            <% if j.semaine.numero_semaine == "#{semaine_parcourue.year}-W#{numero_semaine}" %>
                                <span class="label label-default tab-cell">
                                    <%= prenom_nom(j.semaine.utilisateur) %>
                                </span>
                            <% end %>
                        <% end %>
                    </td>
                <% end %>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>