
<% if job.numero_semaine != @semaine_last %>
    <% @semaine_last = job.numero_semaine %>
    <% @jour_last = nil %>
    <% @service_last = nil %>
    <tr>
        <td>
            <h4>
            <span class="label label-primary">
                <%= job.numero_semaine %>
            </span>
            &nbsp;
            <span class="label label-info">
                <%= job.semaine.date_lundi %>
            </span>
            </h4>
        </td>
        <td colspan="6">&nbsp;</td>
    </tr>
<% end %>

<% if job.service_id != @service_last %>
    <% @service_last = job.service_id %>
    <tr>
        <td>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="label label-success">
                <%= job.service.nom %>
            </span>
            &nbsp;
        </td>
        <td colspan="6">&nbsp;</td>
    </tr>
<% end %>

<% if job.numero_jour != @jour_last %>
    <% @jour_last = job.numero_jour %>
    <tr>
        <td>&nbsp;</td>
        <td>
            <span class="label label-default">
                <%= nom_jour(job.numero_jour) %> 
                &nbsp;<em>(<%= job.semaine.date_lundi + job.numero_jour - 1 %>)</em>
            </span>
        </td>
        <td colspan="5">&nbsp;</td>
    </tr>
<% end %>



<tr id="job_<%= job.id %>">
    <td>&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td><%= am_pm(job.am_pm) %></td>
    <td><%= job.semaine.utilisateur.prenom_nom %></td>
    <td><%= job.note %></td>
    <td>
         &nbsp;

        <%= link_to '<span data-toggle="tooltip" title="Editer">
            <i class="material-icons">edit</i></span>'.html_safe, 
            edit_job_path(job),
            class: "btn btn-warning btn-xs" 
        %>

        <%= link_to '<span data-toggle="tooltip" title="Supprimer">
            <i class="material-icons">close</i>'.html_safe, 
            job_path(job),
            method: :delete,
            remote: true,
            data: { confirm: "Delete #{job.semaine} #{job.numero_jour}  ?" },
            class: "btn btn-danger btn-xs" 
        %>

        &nbsp;

        <%= link_to '<span data-toggle="tooltip" title="Jobs">
            <i class="material-icons">list_alt</i></span>'.html_safe, 
            "/working_lists_job/#{job.id}",
            class: "btn btn-info btn-xs" 
        %>
    </td>
</tr>