<tr id="job_<%= job.id %>">
    <td><%= job.semaine.numero_semaine %></td>
    <td align="center"><%= job.numero_jour %></td>
    <td><%= am_pm(job.am_pm) %></td>
    <td><%= prenom_nom(job.semaine.utilisateur) %></td>
    <td><%= job.note %></td>
    <td>
        <%= link_to " [Show] ", job_path(job) %>
        <%= link_to " [Edit] ", edit_job_path(job) %>
        <%= link_to " [Delete] ", job_path(job), 
            method: :delete,
            remote: true,
            data: { confirm: "Delete #{job.semaine.slug} / Day #{job.numero_jour} (#{job.am_pm ? "AM" : "PM"}) ?" } 
        %>
        <%= link_to " [Works] ", "/works_job/#{job.id}" %>
    </td>
</tr>