<%= form_with model: @lieu, local: true do |form| %>

<% if @lieu.errors.any? %>
<strong>WARNING</strong>
<ul>
    <% @lieu.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
</ul>
<% end %>

<!-- Nom -->
<p>
    <%= form.label :nom %><br>
    <i class="material-icons">location_city</i> <%= form.text_field :nom %>
</p>

<!-- Adresse -->
<p>
    <%= form.label :adresse %><br>
    <i class="material-icons">location_on</i> <%= form.text_field :adresse %>
</p>

<!-- Téléphone -->
<p>
    <%= form.label :phone %><br>
    <i class="material-icons">phone</i> <%= form.text_field :phone %>
</p>

<!-- Note -->
<p>
    <%= form.label :note %><br>
    <i class="material-icons">note</i> <%= form.text_field :note %>
</p>

<p>
    <%= form.submit class: "btn btn-success" %>
</p>
<% end %>