<div class="col-sm-4" id="lieu_<%= lieu.id %>">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3><i class="material-icons">location_city</i> <%= lieu.nom %></h3>
        </div>
        <div class="panel-body">
            <p>
                <i class="material-icons">location_on</i> <%= lieu.adresse %><br>
                <i class="material-icons">phone</i> <%= lieu.phone %><br>
                <i class="material-icons">note</i> <%= lieu.note %>
            </p>
        </div>
        <div class="panel-footer">
            <div class="btn-group">
                <%= link_to '<span data-toggle="tooltip" title="Editer">
                    <i class="material-icons">edit</i></span>'.html_safe, 
                    edit_lieu_path(lieu),
                    class: "btn btn-warning btn-xs" %>
                <%= link_to '<span data-toggle="tooltip" title="Supprimer le lieu">
                    <i class="material-icons">location_off</i>'.html_safe, 
                    lieu_path(lieu),
                    method: :delete,
                    remote: true,
                    data: { confirm: "Delete #{lieu.nom} ?" },
                    class: "btn btn-danger btn-xs" %>
                <%= link_to '<span data-toggle="tooltip" title="Services associés">
                    <i class="material-icons">business</i>'.html_safe, 
                    "/services_lieu/#{lieu.id}",
                    class: "btn btn-info btn-xs" %>
                </span>
            </div>
        </div>
    </div>
</div>