<tr id="lieu_<%= lieu.id %>">
    <td><%= lieu.nom %></td>
    <td><%= lieu.adresse %></td>
    <td><%= lieu.phone %></td>
    <td><%= lieu.note %></td>
    <td>
        <%= link_to " [Show] ", lieu_path(lieu) %>
        <%= link_to " [Edit] ", edit_lieu_path(lieu) %>
        <%= link_to " [Delete] ", lieu_path(lieu), 
            method: :delete,
            remote: true,
            data: { confirm: "Delete #{lieu.nom} ?" } %>
    </td>
</tr>