<div class="page-header">
    <h1>
        <span class="label label-primary">
            <i class="material-icons">location_city</i>
            <%= "Lieux".upcase %>
        </span>
    </h1>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3><i class="material-icons">location_city</i> <%= @lieu.nom %></h3>
    </div>
    <div class="panel-body">
        <p>
            <i class="material-icons">location_on</i> <%= @lieu.adresse %><br>
            <i class="material-icons">phone</i> <%= @lieu.phone %><br>
            <i class="material-icons">note</i> <%= @lieu.note %>
        </p>
    </div>
    <div class="panel-footer">
    <% if user_signed_in? && current_user.admin? %>
        <div class="btn-group">
            <%= link_to '<span data-toggle="tooltip" title="Editer">
                <i class="material-icons">edit</i></span>'.html_safe, 
                edit_lieu_path(@lieu),
                class: "btn btn-warning btn-xs" %>
            <%= link_to '<span data-toggle="tooltip" title="Supprimer le lieu">
                <i class="material-icons">location_off</i>'.html_safe, 
                lieu_path(@lieu),
                method: :delete,
                remote: true,
                data: { confirm: "Delete #{@lieu.nom} ?" },
                class: "btn btn-danger btn-xs" %>
            
            </span>
        </div>
        <% end %>
    </div>
</div>
