<h1>
    <%= @lieu.nom %>
</h1>
<p>
    <strong>Adresse :</strong> <%= @lieu.adresse %>
</p>
<p>
    <strong>Téléphone :</strong> <%= @lieu.phone %>
</p>
<p>
    <strong>Note(s) :</strong> <%= @lieu.note %>
</p>

<p>
    <%= link_to " [Edit] ", edit_lieu_path(@lieu) %>
</p>