<%= form_with model: @working_list, local: true do |form| %>

    <% if @working_list.errors.any? %>
        <strong>WARNING</strong>
        <ul>
            <% @working_list.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    <% end %>


    <div class="row">
        <!-- JOUR -->
        <div class="col-sm-6">
            <p>
                <b>Jour</b><br>
                <%= form.select(:jour_id, 
                        @jours.collect {|w| ["<#{w.numero_semaine}> - [#{w.service.nom}] - #{nom_jour(w.numero_jour)} #{w.date} - #{w.utilisateur.prenom_nom} - #{am_pm(w.am_pm)}", w.id]}, 
                        {
                        }, 
                        { :size => 20 }
                    ) 
                %>
            </p>
        </div>

        <!-- WORKS -->
        <div class="col-sm-6">
            <p>
                <b>Works</b><br>
                <%= form.select(:work_id, 
                        @works.collect {|w| ["<#{w.service.lieu.nom}/#{w.service.nom}> - #{w.groupe.nom} - #{w.classe.nom} - [ #{w.code} ] - #{w.nom}", w.id]}, 
                        {
                        },
                        { :size => 20 }
                    ) 
                %>
            </p>
        </div>
    </div>

    <p>
            <%= form.submit class: "btn btn-primary" %>
    </p>
<% end %>

