<%= form_with model: @working_list, local: true do |form| %>

    <% if @working_list.errors.any? %>
        <strong>WARNING</strong>
        <ul>
            <% @working_list.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    <% end %>

    <!-- JOB -->
    <p>
        <div class='form-group'>
        <%= form.select(:job_id, 
                @jobs.collect {|w| ["<#{w.service.nom}> - #{w.semaine.utilisateur.prenom_nom} - #{w.semaine.date_lundi} - [ #{w.numero_jour} ] - #{am_pm(w.am_pm)}", w.id]}, 
                {}, 
                data: {
                    remote: true,
                    url: "#{new_working_list_path}",
                    method: 'get'
                }
            ) 
        %>
        </div>
    </p>

    <!-- WORK -->
    <p>
        <%= form.select(:travaux, 
                @works.collect {|w| ["<#{w.service.nom}> - #{w.groupe.nom} - #{w.classe.nom} - [ #{w.code} ] - #{w.nom}", w.id]}, 
                { }, 
                { :multiple => true, :size => 20 }
            ) 
        %>
    </p>

    <p>
            <%= form.submit class: "btn btn-primary" %>
    </p>
<% end %>

