<tr id="working_list_<%= working_list.id %>">
    <td><%= working_list.id %></td>
    <td><%= working_list.job.semaine.slug %></td>
    <td align=center>
        <%= working_list.job.numero_jour %> (<%= am_pm(working_list.job.am_pm) %>)
    </td>
    <td>
        [ <%= working_list.work.code %> ]
    </td>
    <td>
        <%= link_to " [Show] ", working_list_path(working_list) %>
        <%= link_to " [Edit] ", edit_working_list_path(working_list) %>
        <%= link_to " [Delete] ", working_list_path(working_list), 
            method: :delete,
            remote: true,
            data: { confirm: "Delete ##{working_list.id} ?" } 
        %>
    </td>
</tr>