<tr id="working_list_<%= working_list.id %>">
    <td><%= working_list.id %></td>
    <td><%= working_list.job.semaine.slug %></td>
    <td align=center>
        <%= working_list.job.numero_jour %> (<%= am_pm(working_list.job.am_pm) %>)
    </td>
    <td>
        [ <%= working_list.work.code %> ]
    </td>
    <td>
    
        <%= link_to '<span data-toggle="tooltip" title="Editer">
            <i class="material-icons">edit</i></span>'.html_safe, 
            edit_working_list_path(working_list),
            class: "btn btn-warning btn-xs" %>
        <%= link_to '<span data-toggle="tooltip" title="Supprimer le service">
            <i class="material-icons">close</i>'.html_safe, 
            working_list_path(working_list),
            method: :delete,
            remote: true,
            data: { confirm: "Delete ##{working_list.id} ?" },
            class: "btn btn-danger btn-xs" %>

    </td>
</tr>