<h1>
    Working Liste #<%= @working_list.id %>
</h1>
<p>
    <strong>Job #<%= @working_list.job.id %></strong>
</p>

<p>
    <strong>Semaine :</strong> <%= @working_list.job.semaine.slug %><br>
    <strong>Jour :</strong> <%= nom_jour(@working_list.job.numero_jour) %> (<%= @working_list.job.semaine.date_lundi+@working_list.job.numero_jour-1 %>)<br>
    <strong>AM/PM :</strong> <%= am_pm(@working_list.job.am_pm) %>
</p>
<p>
    <strong>Work :</strong> [ <%= @working_list.work.code %> ]  <%= @working_list.work.nom %>
</p>
<p>
    <strong>Utilisateur :</strong> <%= @working_list.job.semaine.utilisateur.prenom_nom %> (<%= @working_list.job.semaine.utilisateur.groupe.nom %>)<br>
    <strong>Service :</strong> <%= "#{@working_list.job.semaine.utilisateur.service.nom} (#{@working_list.job.semaine.utilisateur.service.lieu.nom})" %>
</p>

<p>
    <%= link_to " [Edit] ", edit_working_list_path(@working_list) %>
</p>