<tr id="konfiguration_<%= konfiguration.id %>">
    <td><pre><%= konfiguration.key %></pre></td>
    <td><i><%= konfiguration.value %></i></td>
    <td><%= konfiguration.description %></td>
    <td>
    <% if user_signed_in? && is_super_admin? %>
        <%= link_to '[edit]', edit_konfiguration_path(konfiguration) %>
        <%= link_to '[delete]', konfiguration_path(konfiguration),
            method: :delete,
            remote: true,
            data: { confirm: "Delete #{konfiguration.key}  ?" }
        %>
    <% end %>
    </td>
</tr>