<div class="container">

  <h1>
    <span class="label label-default">
      <i class="material-icons">straighten</i>
      Units
    </span>
  </h1>
  
  <br />

  <div class="row">
  <%= render partial: "/home/barre_menu_production" %>
  </div>

  <br />

  <p><%= link_to "+", new_prod_unit_path, class: "btn btn-success" %></p>

  <div id="prod_units" class="row">
    <% @prod_units.each do |prod_unit| %>
      <div class="panel panel-default col-xs-4 col-sm-3" id="<%= dom_id prod_unit %>">
        <div class="panel-body">
          <%= render prod_unit %>
        </div>
      </div>
    <% end %>
  </div>

  <p><%= link_to "+", new_prod_unit_path, class: "btn btn-success" %></p>

</div>