<div class="container"><p style="color: green"><%= notice %></p>

<%= render @prod_unit %>

<div>
  <%= link_to "Edit this prod unit", edit_prod_unit_path(@prod_unit) %> |
  <%= link_to "Back to prod units", prod_units_path %>

  <%= button_to "Destroy this prod unit", @prod_unit, method: :delete %>
</div>
</div>