<%= form_with(model: production) do |form| %>
  <% if production.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(production.errors.count, "error") %> prohibited this production from being saved:</h2>

      <ul>
        <% production.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div clas="row">
    <table class="table table-condensed">
    <thead>
      <tr>
        <th><%= form.label :traceur_id, style: "display: block" %></th>
        <th><%= form.label :quantity, style: "display: block" %></th>
        <th><%= form.label :prod_unit_id, style: "display: block" %></th>
        <th><%= form.label :mesure_time, style: "display: block" %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= form.select(:traceur_id) do %>
            <%= select_option_tag("", nil, production.traceur_id) %>
            <% Traceur.all.order(:name).each do |l| %>
                <%= select_option_tag(l.code.capitalize, l.id, production.traceur_id) %>
            <% end %>
          <% end %>
        </td>
        <td>
          <%= form.text_field :quantity %>
        </td>
        <td>
          <%= form.text_field :prod_unit_id %>
        </td>
        <td>
          <%= form.text_field :mesure_time %>
        </td>
      </tr>
    </tbody>
    </table>
  </div>

  <div clas="row">
    <table class="table table-condensed">
    <thead>
      <tr>
        <th><%= form.label :prod_destination_id, style: "display: block" %></th>
        <th><%= form.label :service_id, style: "display: block" %></th>
        <th><%= form.label :utilisateur_id, style: "display: block" %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= form.text_field :prod_destination_id %>
        </td>
        <td>
          <%= form.text_field :service_id %>
        </td>
        <td>
          <%= form.text_field :utilisateur_id %>
        </td>
      </tr>
    </tbody>
    </table>
  </div>

    

  <div>
    <%= form.submit %>
  </div>
<% end %>
