<div class="container">

  <h1>
    <span class="label label-default">
      <i class="material-icons">science</i>
      Traceurs
    </span>
  </h1>

  <p style="color: green"><%= notice %></p>

  <br />

  <div class="row">
  <%= render partial: "/home/barre_menu_production" %>
  </div>

  <br />

  <p><%= link_to "+", new_traceur_path, class: "btn btn-success" %></p>

  <div id="traceurs" class="row">
    <% @traceurs.each do |traceur| %>
      <div class="panel panel-default col-xs-4 col-sm-3" id="<%= dom_id traceur %>">
        <div class="panel-body">
          <%= render traceur %>
        </div>
      </div>
    <% end %>
  </div>

  <p><%= link_to "+", new_traceur_path, class: "btn btn-success" %></p>

</div>
