<div class="btn-group">
    <a href="<%= jours_path %>" class="btn btn-danger" role="button">
        <i class="material-icons">view_day</i><br>
        <%= I18n.t("home.index.jours") %>
    </a>
    <a href="<%= working_lists_path %>" class="btn btn-danger" role="button">
        <i class="material-icons">list_alt</i><br>
        <%= I18n.t("home.index.working_lists") %>
    </a>
</div>

<div class="btn-group">
    <a href="<%= ajouts_path %>" class="btn btn-danger" role="button">
        <i class="material-icons">playlist_add</i><br>
        <%= I18n.t("home.index.ajouter") %>
    </a>
</div>

<div class="btn-group">
    <a href="<%= logs_path %>" class="btn btn-warning" role="button">
        <i class="material-icons">analytics</i><br>
        <%= I18n.t("home.index.logs") %>
    </a>
    <a href="<%= tools_path %>" class="btn btn-warning" role="button">
        <i class="material-icons">construction</i><br>
        <%= I18n.t("home.index.tools") %>
    </a>
</div>