<div class="row">

    <!-- Absences -->
    <div class="btn-group">
        <a href="<%= absences_path %>" class="btn btn-success" role="button">
            <i class="material-icons">healing</i><br>
            <%= I18n.t("home.index.absences") %>
        </a>
    </div>

    <!-- Events, days off et types absences -->
    <div class="btn-group">
        <a href="<%= type_absences_path %>" class="btn btn-success" role="button">
            <i class="material-icons">healing</i><br>
            <%= I18n.t("home.index.types") %>
        </a>
        <a href="<%= fermetures_path %>" class="btn btn-success" role="button">
            <i class="material-icons">event_busy</i><br>
            <%= I18n.t("home.index.fermetures") %>
        </a>
        <a href="<%= events_path %>" class="btn btn-success" role="button">
            <i class="material-icons">event_available</i><br>
            <%= I18n.t("home.index.evenements") %>
        </a>
    </div>

    <!-- Classes, works et tâches -->        
    <div class="btn-group">
        <a href="<%= classes_path %>" class="btn btn-primary" role="button">
            <i class="material-icons">category</i><br>
            <%= I18n.t("home.index.classes") %>
        </a>
        <a href="<%= works_path %>" class="btn btn-primary" role="button">
            <i class="material-icons">build</i><br>
            <%= I18n.t("home.index.works") %>
        </a>
        <a href="<%= tasks_path %>" class="btn btn-primary" role="button">
            <i class="material-icons">settings_ethernet</i><br>
            <%= I18n.t("home.index.tasks") %>
        </a>
    </div>

    <div class="btn-group">
        <!-- grille des Hebdos -->
        <a href="<%= grille_hebdos_path %>" class="btn btn-danger" role="button">
            <i class="material-icons">settings_ethernet</i><br>
            <%= I18n.t("home.index.grille_hebdos") %>
        </a>
    </div>

    <div class="btn-group">

        <!-- Bouton BUG -->
        <a href="<%= bug_repports_path %>" class="btn btn-info" role="button">
            <i class="material-icons">bug_report</i><br>
            <%= I18n.t("home.index.bug_repport") %>
        </a>
    
        <!-- Bouton BLOG -->
        <a href="<%= blog_messages_path %>" class="btn btn-info" role="button">
            <i class="material-icons">rss_feed</i><br>
            <%= I18n.t("home.index.blog").upcase %>
        </a>
        <a href="<%= wiki_pages_path %>" class="btn btn-info" role="button">
            <i class="material-icons">account_tree</i><br>
            <%= I18n.t("home.index.wiki").capitalize %>
        </a>
    </div>
        
</div>

<br>

<div class="row">

    <!-- Barre Managers -->
    <%= render partial: "manager" if user_signed_in? && is_manager? %>

    <!-- Barre Admins -->
    <%= render partial: "admin" if user_signed_in? && is_super_admin? %>
        
</div>