<div class="container-fluid">
    <div class="row">

        <div class="col">
            <div class="btn-group btn-group-justified">
                <a href="<%= not_yet_validated_absences_path %>" class="btn btn-xs btn-success" role="button">
                    <i class="material-icons">healing</i><br>
                    <%= I18n.t("home.index.waiting") %>
                </a>
                
            
                <a href="<%= utilisateurs_path %>" class="btn btn-xs btn-primary" role="button">
                    <i class="material-icons">group</i><br>
                    <%= I18n.t("home.index.utilisateurs") %>
                </a>
                <a href="<%= ajouts_path %>" class="btn btn-xs btn-primary" role="button">
                    <i class="material-icons">playlist_add</i><br>
                    <%= I18n.t("home.index.batchs") %>
                </a>
            
                <a href="<%= hebdos_path %>" class="btn btn-xs btn-danger" role="button">
                    <i class="material-icons">settings_ethernet</i><br>
                    <%= I18n.t("home.index.hebdos") %>
                </a>
                <a href="<%= maintenances_path %>" class="btn btn-primary" role="button">
                    <i class="material-icons">engineering</i><br>
                    maintenances
                </a>
            </div>
        </div>
    </div>
</div>

<hr />