<div class="row">
        <div class="btn-group">
            <a href="<%= absences_path %>" class="btn btn-success" role="button">
                <i class="material-icons">healing</i><br>
                <%= I18n.t("home.index.absences") %>
            </a>
            <a href="<%= not_yet_validated_absences_path %>" class="btn btn-success" role="button">
                <i class="material-icons">healing</i><br>
                <%= I18n.t("home.index.waiting") %>
            </a>
            <a href="<%= validated_absences_path %>" class="btn btn-success" role="button">
                <i class="material-icons">healing</i><br>
                <%= I18n.t("home.index.validated") %>
            </a>
        </div>
        <div class="btn-group">
            <a href="<%= type_absences_path %>" class="btn btn-success" role="button">
                <i class="material-icons">healing</i><br>
                <%= I18n.t("home.index.types") %>
            </a>
            <a href="<%= fermetures_path %>" class="btn btn-success" role="button">
                <i class="material-icons">event_busy</i><br>
                <%= I18n.t("home.index.fermetures") %>
            </a>
            <a href="<%= events_path %>" class="btn btn-success" role="button">
                <i class="material-icons">event_available</i><br>
                <%= I18n.t("home.index.evenements") %>
            </a>
        </div>
        <div class="btn-group">
            <a href="<%= lieus_path %>" class="btn btn-primary" role="button">
                <i class="material-icons">location_city</i><br>
                <%= I18n.t("home.index.lieux") %>
            </a>
            <a href="<%= services_path %>" class="btn btn-primary" role="button">
                <i class="material-icons">business</i><br>
                <%= I18n.t("home.index.services") %>
            </a>
        </div>
        <div class="btn-group">
            <a href="<%= groupes_path %>" class="btn btn-primary" role="button">
                <i class="material-icons">group_work</i><br>
                <%= I18n.t("home.index.groupes") %>
            </a>
            <a href="<%= utilisateurs_path %>" class="btn btn-primary" role="button">
                <i class="material-icons">group</i><br>
                <%= I18n.t("home.index.utilisateurs") %>
            </a>
        </div>
        <div class="btn-group">
            <a href="<%= classes_path %>" class="btn btn-primary" role="button">
                <i class="material-icons">category</i><br>
                <%= I18n.t("home.index.classes") %>
            </a>
            <a href="<%= works_path %>" class="btn btn-primary" role="button">
                <i class="material-icons">build</i><br>
                <%= I18n.t("home.index.works") %>
            </a>
        </div>
        <%= render partial: "manager" if user_signed_in? && current_user.utilisateur.admin %>
</div>
<br>
<div class="row">
    <%= render partial: "admin" if user_signed_in? && current_user.admin %>
        <!-- Bouton secrétaire -->
    <div class="btn-group">
        <a href="<%= secr_pet_path %>" class="btn btn-info" role="button">
            <i class="material-icons">PET</i><br>
            <%= I18n.t("home.index.secretary") %>
        </a>
    </div>

    <!-- Bouton BUG -->
    <div class="btn-group">
        <a href="<%= bug_repports_path %>" class="btn btn-info" role="button">
            <i class="material-icons">bug_report</i><br>
            <%= I18n.t("home.index.bug_repport") %>
        </a>
    </div>

    <!-- Bouton BLOG -->
    <div class="btn-group">
        <a href="<%= blog_messages_path %>" class="btn btn-info" role="button">
            <i class="material-icons">rss_feed</i><br>
            <%= I18n.t("home.index.blog").upcase %>
        </a>
    </div>

    <!-- BACKUP DB -->
    <% if current_user.utilisateur.admin? %>
        <div class="btn-group">
            <a href=<%= backup_db_path %> class="btn btn-info" role="button">
                <i class="material-icons">save_alt</i><br>
                Backup
            </a>
        </div>
    <% end %>

</div>