<div class="row">
    <!-- <div class="btn-group"> -->

        <!-- SUPER USER -->
        <div class="btn-group">
        <a href="<%= not_yet_validated_absences_path %>" class="btn btn-success" role="button">
                <i class="material-icons">healing</i><br>
                <%= I18n.t("home.index.waiting") %>
            </a>
        <a href="<%= grille_path %>" class="btn btn-success" role="button">
                <i class="material-icons">healing</i><br>
                <%= I18n.t("home.index.grille") %>
            </a>
        </div>


        <div class="btn-group">
        <a href="<%= utilisateurs_path %>" class="btn btn-primary" role="button">
                <i class="material-icons">group</i><br>
                <%= I18n.t("home.index.utilisateurs") %>
            </a>
        <a href="<%= ajouts_path %>" class="btn btn-primary" role="button">
                <i class="material-icons">playlist_add</i><br>
                <%= I18n.t("home.index.batchs") %>
            </a>
        </div>
        

        <div class="btn-group">
        <a href="<%= hebdos_path %>" class="btn btn-danger" role="button">
                <i class="material-icons">settings_ethernet</i><br>
                <%= I18n.t("home.index.hebdos") %>
            </a>
        <a href="<%= grille_hebdos_path %>" class="btn btn-danger" role="button">
                <i class="material-icons">settings_ethernet</i><br>
                <%= I18n.t("home.index.grille") %>
            </a>
        </div>


        <div class="btn-group">
        <a href="<%= bug_repports_path %>" class="btn btn-info" role="button">
                <i class="material-icons">bug_report</i><br>
                <%= I18n.t("home.index.bug_repport") %>

                <% if @bugs_new > 0 %>
                    <span class="badge"><%= @bugs_new %></span>
                <% end %>
            </a>
        </div>


        <div class="btn-group">
        <a href="<%= blog_messages_path %>" class="btn btn-info" role="button">
                <i class="material-icons">rss_feed</i><br>
                <%= I18n.t("home.index.blog").upcase %>
            </a>

        <a href="<%= wiki_pages_path %>" class="btn btn-info" role="button">
                <i class="material-icons">account_tree</i><br>
                <%= I18n.t("home.index.wiki").capitalize %>
            </a>
        </div>

    <!-- </div> -->
</div>