<div class="col-md-4">

        <!-- Tâches -->
        <p><%= render partial: "comm_tasks" %></p>

        <!-- Messages -->
        <p><%= render partial: "comm_messages" %></p>

        <!-- Absences -->
        <p><%= render partial: "comm_absences" %></p>
        
        <!-- Events -->
        <p><%= render partial: "comm_events" %></p>

        <!-- Maintenances -->
        <p><%= render partial: "comm_maintenances" %></p>
    
    <br>
</div>