<div class="btn-group">
    <a href="<%= ajouts_path %>" class="btn btn-warning" role="button">
        <i class="material-icons">playlist_add</i><br>
        <%= I18n.t("home.index.batchs") %>
    </a>
    <a href="<%= templates_path %>" class="btn btn-warning" role="button">
        <i class="material-icons">content_copy</i><br>
        <%= I18n.t("home.index.templates") %>
    </a>
</div>

<div class="btn-group">
    <a href="<%= grille_path %>" class="btn btn-warning" role="button">
        <i class="material-icons">healing</i><br>
        <%= I18n.t("home.index.absences") %>
    </a>
</div>

<div class="btn-group">
    <a href="<%= messages_path %>" class="btn btn-warning" role="button">
        <i class="material-icons">message</i><br>
        <%= I18n.t("home.index.messages") %>
    </a>
</div>




