<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">ORGA</h1>
        <p class="lead"><%= "Welcome" %></p>
    </div>
</div>


<h1>ORGA</h1>
<p>gestion des équipes</p>

<!-- MENU -->
<ul>
    <li><%= link_to "Lieux", lieus_path %></li>
    <li><%= link_to "Services", services_path %></li>
    <li><%= link_to "Groupes", groupes_path %></li>
    <li><%= link_to "Utilisateurs", utilisateurs_path %></li>
    <li><%= link_to "Congés", conges_path %></li>
    <li><%= link_to "Types d'absences", type_absences_path %></li>
    <li><%= link_to "Absences", absences_path %></li>
    <li><%= link_to "Semaines", semaines_path %></li>
    <li><%= link_to "Semaines courantes", semaines_this_week_path %></li>
    <li><%= link_to "Jobs", jobs_path %></li>
    <li><%= link_to "Jobs cette semaine", jobs_this_week_path %></li>
    <li><%= link_to "Classes", classes_path %></li>
    <li><%= link_to "Works", works_path %></li>
    <li><%= link_to "WorkingLists", working_lists_path %></li>
    <li><%= link_to "WorkingLists courantes", working_lists_this_week_path %></li>
</ul>