<div class="container">

    <!-- HEADER -->
    <%= render "header" %>

    <!-- TODAY -->
    <%= render "today" if user_signed_in? %>

    <!-- ADMIN MENU -->
    <%= render "barre_menu_rapide" if user_signed_in? and is_super_admin? %>
    
    <!-- MENU -->
    <%= render "barre_menu" if user_signed_in? %>

    <!-- CONNECTED -->
    <%= render "last_connects" if user_signed_in? and is_super_admin? %>

    <!-- BUGS -->
    <% if user_signed_in? && is_super_admin? %>
        <p>
            <%= "#{@bugs_new} new bug(s)." if @bugs_new > 0 %> 
            <%= "#{@bugs_test} bug(s) on test." if @bugs_test > 0 %>
        </p>
    <% end %>

</div>

