<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">ORGA</h1>
        <p class="lead"><%= "Welcome" %></p>
    </div>
</div>


<h1>ORGA</h1>
<p>gestion des équipes</p>

<!-- MENU STANDARD -->
<div class="btn-group">
    <%= link_to '<i class="material-icons">today</i><br>
        Aujourd\'hui'.html_safe, 
        agendas_jour_path,
        class: "btn btn-primary btn-xs" %>
    <%= link_to '<i class="material-icons">date_range</i><br>
        Cette Semaine'.html_safe, 
        agendas_semaine_path,
        class: "btn btn-primary btn-xs" %>
</div>

<!-- MENU ADMIN -->
<div class="btn-group">
    <%= link_to '<i class="material-icons">playlist_add</i><br>
        Ajouter'.html_safe, 
        ajouts_path,
        class: "btn btn-primary btn-xs" %>
    <!--
    <%= link_to '<i class="material-icons">playlist_add</i><br>
        Ajouter'.html_safe, 
        agendas_semaine_path,
        class: "btn btn-primary btn-xs" %>
    -->
</div>




<!-- MENU DETAILS-->
<!--
<h3>CONFIG</h3>
<div class="btn-group">
    <%= link_to '<i class="material-icons">location_city</i><br>
        Lieux'.html_safe, 
        lieus_path,
        class: "btn btn-primary btn-xs" %>
    <%= link_to '<i class="material-icons">business</i><br>
        Services'.html_safe, 
        services_path,
        class: "btn btn-primary btn-xs" %>
</div>


<ul>
    <li><%= link_to "Lieux", lieus_path %></li>
    <li><%= link_to "Services", services_path %></li>
    <li><%= link_to "Groupes", groupes_path %></li>
    <li><%= link_to "Utilisateurs", utilisateurs_path %></li>
    <li><%= link_to "Congés", conges_path %></li>
    <li><%= link_to "Types d'absences", type_absences_path %></li>
    <li><%= link_to "Absences", absences_path %></li>
    <li><%= link_to "Semaines", semaines_path %></li>
    <li><%= link_to "Jobs", jobs_path %></li>
    <li><%= link_to "Classes", classes_path %></li>
    <li><%= link_to "Works", works_path %></li>
    <li><%= link_to "WorkingLists", working_lists_path %></li>
    <li><%= link_to "Agendas", agendas_path %></li>
    <li><%= link_to "Ajouter une nouvelle attribution", ajouts_path %></li>
</ul>
-->