<div class="container">

    <!-- HEADER -->
    <%= render "header" %>

    <% if user_signed_in? %>

        <!-- TODAY -->
        <%= render "today" %>

        <!-- ADMIN MENU -->
        <%= render "barre_menu_rapide" if is_super_admin? %>
        
        <!-- MENU -->
        <%= render "barre_menu" %>

        <br />

        <%= render partial: "postits" %>

        <hr />

        <!-- Barre Managers -->
        <%= render partial: "barre_menu_manager" if is_manager? %>

        <br />

        <!-- CONNECTED -->
        <%= render "last_connects" if is_super_admin? %>

        <!-- BUGS -->
        <% if is_super_admin? %>
            <p>
                <%= "#{@bugs_new} new bug(s)." if @bugs_new > 0 %> 
                <%= "#{@bugs_test} bug(s) on test." if @bugs_test > 0 %>
            </p>
        <% end %>
    <% end %>
</div>

