<div class="container">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">ORGA</h1>
            <p class="lead">
                <%= "#{I18n.t("home.index.welcome")} #{current_user.utilisateur.prenom if (user_signed_in? && current_user.utilisateur) }".upcase %>
            </p>
        </div>
    </div>
    <div class="row">
        <div class=" col-md-4">
        <h2>
            <span class="label label-default">
                <%= "#{nom_jour(@date.cwday)} #{I18n.localize @date, format: :long}" %>
            </span>
        </h2>
        </div>
        <% last_service = nil %>

        <!-- HORAIRE DU JOUR -->
        <% @specific_day_jours.each do |specific_day_jour| %>
            <div class=" col-md-4">
                <!-- PANELS -->
                <div class="panel panel-default">
                    <!-- Changement de service -->
                    <% if specific_day_jour.service != last_service %>
                        <% if !last_service.nil? %>
                            <% last_service = specific_day_jour.service %>
                            <!-- FOOTER PANEL -->
                            <div class="panel-footer">
                                <% unless @events[specific_day_jour.service.id].nil? %>
                                    <% @events[specific_day_jour.service.id].each do |event| %>
                                        <span class="badge"
                                            data-toggle="tooltip" 
                                            title="<%= event.note %>"
                                        >
                                        <%= event.nom.capitalize %>
                                        </span>
                                    <% end %>
                                <% end %>
                            </div></div>
                        <% end %>
                        <!-- HEADING PANEL -->
                        <div class="panel-heading">
                            <i class="material-icons">business</i>
                            <%= specific_day_jour.service.nom.upcase %>
                        </div>
                    <% end %>
                    
                    <!-- CONTENT PANEL -->
                    <div class="panel-body">
                        <p>
                            AM : 
                            &nbsp;&nbsp;&nbsp;
                            <% unless specific_day_jour.am_pm %>
                                <% @specific_day_works[specific_day_jour].each do |wl| %>
                                    <% cl = "" %>
                                    <% if wl.work.code.downcase=="qc" && @date.cwday==5 %>
                                        <% cl = "keep_attention" %>
                                    <% end %>
                                    <span class="label label-primary <%= cl %>"
                                        data-toggle="tooltip" 
                                        title='<%= "#{wl.work.nom}" %>'
                                    >
                                        <%= wl.work.code %>
                                    </span>
                                    &nbsp;
                                <% end %>
                            <% else %>
                                ---
                            <% end %>
                            <br>
                            PM : 
                            &nbsp;&nbsp;&nbsp;
                            <% if specific_day_jour.am_pm %>
                                <% @specific_day_works[specific_day_jour].each do |wl| %>
                                    <% cl = "" %>
                                    <% if wl.work.code.downcase=="qc" && @date.cwday==5 %>
                                        <% cl = "keep_attention" %>
                                    <% end %>
                                    <span class="label label-info <%= cl %>"
                                        data-toggle="tooltip" 
                                        title='<%= "#{wl.work.nom}" %>'
                                    >
                                        <%= wl.work.code %>
                                    </span>
                                    &nbsp;
                                <% end %>
                            <% else %>
                                ---
                            <% end %>
                        </p>
                        <p>
                            <%= specific_day_jour.note %>
                        </p>

                    </div>
                    
                    <!-- FOOTER PANEL -->
                    <div class="panel-footer">
                        <% unless @events[specific_day_jour.service.id].nil? %>
                            <% @events[specific_day_jour.service.id].each do |event| %>
                                <span class="badge"
                                    data-toggle="tooltip" 
                                    title="<%= event.note %>"
                                >
                                <%= event.nom.capitalize %>
                                </span>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
        <% end %>


        <!-- ABSENCES -->
        <% if @absences and @absences.count > 0 %>
            <%= @absences %>
        <% end %>

    </div>

    <!-- MENU STANDARD -->
    <div class="container">
        <div class="row">
            
            <% if user_signed_in? %>
            <div class="col-xs-12 col-sm-6 col-md-4" id="conteneur1">
                

                <div class="row">
                    <!-- ABSENCES -->
                    <% if user_signed_in? %>
                    <p>
                        <%= link_to '<i class="material-icons">healing</i>'.html_safe, 
                            absences_path,
                            class: "btn btn-success btn-xs" 
                        %>
                        <h4><%= I18n.t("home.index.absences") %></h4>
                    </p>
                    <% end %>
                </div>

                <% if user_signed_in? && current_user.admin? %>
                    <div class="row">
                        <!-- TYPES ABSENCES -->
                        <p>
                            <%= link_to '<i class="material-icons">healing</i>'.html_safe, 
                                type_absences_path,
                                class: "btn btn-success btn-xs" 
                            %>
                            <h4><%= I18n.t("home.index.types") %></h4>
                        </p>
                    </div>
                <% end %>

                <div class="row">
                    <!-- FERMETURES -->
                    <% if user_signed_in? %>
                    <p>
                        <%= link_to '<i class="material-icons">event_busy</i>'.html_safe, 
                            fermetures_path,
                            class: "btn btn-success btn-xs" 
                        %>
                        <h4><%= I18n.t("home.index.fermetures") %></h4>
                    </p>
                    <% end %>
                </div>

                <div class="row">
                    <!-- EVENEMENTS -->
                    <% if user_signed_in? %>
                    <p>
                        <%= link_to '<i class="material-icons">event_available</i>'.html_safe, 
                            events_path,
                            class: "btn btn-success btn-xs" 
                        %>
                        <h4><%= I18n.t("home.index.evenements") %></h4>
                    </p>
                    <% end %>
                </div>

            </div>
            <% end %>


            <% if user_signed_in? %>
            <div class="col-xs-12 col-sm-6 col-md-4" id="conteneur2">
                <div class="row">
                    <p>
                        <!-- LIEUX -->
                        <%= link_to '<i class="material-icons">location_city</i>'.html_safe, 
                            lieus_path,
                            class: "btn btn-primary btn-xs" 
                        %>
                        <h4><%= I18n.t("home.index.lieux") %></h4>
                    </p>
                    <p>
                        <!-- SERVICES -->
                        <%= link_to '<i class="material-icons">business</i>'.html_safe, 
                            services_path,
                            class: "btn btn-primary btn-xs" 
                        %>
                        <h4><%= I18n.t("home.index.services") %></h4>
                    </p>
                </div>
                <div class="row">
                    <p>
                        <!-- GROUPES -->
                        <%= link_to '<i class="material-icons">group_work</i>'.html_safe, 
                            groupes_path,
                            class: "btn btn-primary btn-xs" 
                        %>
                        <h4><%= I18n.t("home.index.groupes") %></h4>
                    </p>
                    <p>
                        <!-- UTILISATEURS -->
                        <%= link_to '<i class="material-icons">group</i>'.html_safe, 
                            utilisateurs_path,
                            class: "btn btn-primary btn-xs" 
                        %>
                        <h4><%= I18n.t("home.index.utilisateurs") %></h4>
                    </p>
                </div>
                <div class="row">
                    <p>
                        <!-- CLASSES -->
                        <%= link_to '<i class="material-icons">category</i>'.html_safe, 
                            classes_path,
                            class: "btn btn-primary btn-xs" 
                        %>
                        <h4><%= I18n.t("home.index.classes") %></h4>
                    </p>
                    <p>
                        <!-- WORKS -->
                        <%= link_to '<i class="material-icons">build</i>'.html_safe, 
                            works_path,
                            class: "btn btn-primary btn-xs" 
                        %>
                        <h4><%= I18n.t("home.index.works") %></h4>
                    </p>
                </div>
            </div>
            <% end %>

            <% if user_signed_in? && current_user.admin? %>
                <div class="col-xs-12 col-sm-12 col-md-4" id="conteneur3">
                    <div class="row">
                        <p>
                            <!-- JOURS -->
                            <%= link_to '<i class="material-icons">view_day</i>'.html_safe, 
                                jours_path,
                                class: "btn btn-danger btn-xs" 
                            %>
                            <h4><%= I18n.t("home.index.jours") %></h4>
                        </p>
                        <p>
                            <!-- LOGS -->
                            <%= link_to '<i class="material-icons">analytics</i>'.html_safe, 
                                logs_path,
                                class: "btn btn-danger btn-xs" 
                            %>
                            <h4><%= I18n.t("home.index.logs") %></h4>
                        </p>
                    </div>
                    <div class="row">
                        <p>
                            <!-- WORKING_LISTS -->
                            <%= link_to '<i class="material-icons">list_alt</i>'.html_safe, 
                                working_lists_path,
                                class: "btn btn-danger btn-xs" 
                            %>
                            <h4><%= I18n.t("home.index.working_lists") %></h4>
                        </p>
                        <p>
                            <!-- ADD ATTRIBS -->
                            <%= link_to '<i class="material-icons">playlist_add</i>'.html_safe, 
                                ajouts_path,
                                class: "btn btn-danger btn-xs" 
                            %>
                            <h4><%= I18n.t("home.index.ajouter") %></h4>
                        </p>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>