<div class="container">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">ORGA</h1>
            <p class="lead">
                <%= "#{I18n.t("home.index.welcome")} #{current_user.utilisateur.prenom if (user_signed_in? && current_user.utilisateur) }".upcase %>
            </p>
        </div>
    </div>


    <%= render "today" if user_signed_in? %>
    

    <!-- MENU STANDARD -->
    <div class="container">
        <div class="row">
            
            <% if user_signed_in? %>
            <div class="col-xs-12 col-sm-6 col-md-4" id="conteneur1">
                

                <div class="row">
                    <!-- ABSENCES -->
                    <% if user_signed_in? %>
                    <p>
                        <%= link_to '<i class="material-icons">healing</i>'.html_safe, 
                            absences_path,
                            class: "btn btn-success btn-xs" 
                        %>
                        <h4><%= I18n.t("home.index.absences") %></h4>
                    </p>
                    <% end %>
                </div>

                <% if user_signed_in? && current_user.admin? %>
                    <div class="row">
                        <!-- TYPES ABSENCES -->
                        <p>
                            <%= link_to '<i class="material-icons">healing</i>'.html_safe, 
                                type_absences_path,
                                class: "btn btn-success btn-xs" 
                            %>
                            <h4><%= I18n.t("home.index.types") %></h4>
                        </p>
                    </div>
                <% end %>

                <div class="row">
                    <!-- FERMETURES -->
                    <% if user_signed_in? %>
                    <p>
                        <%= link_to '<i class="material-icons">event_busy</i>'.html_safe, 
                            fermetures_path,
                            class: "btn btn-success btn-xs" 
                        %>
                        <h4><%= I18n.t("home.index.fermetures") %></h4>
                    </p>
                    <% end %>
                </div>

                <div class="row">
                    <!-- EVENEMENTS -->
                    <% if user_signed_in? %>
                    <p>
                        <%= link_to '<i class="material-icons">event_available</i>'.html_safe, 
                            events_path,
                            class: "btn btn-success btn-xs" 
                        %>
                        <h4><%= I18n.t("home.index.evenements") %></h4>
                    </p>
                    <% end %>
                </div>
            </div>
            <% end %>
            <% if user_signed_in? %>
                <div class="col-xs-12 col-sm-6 col-md-4" id="conteneur2">
                    <div class="row">
                        <p>
                            <!-- LIEUX -->
                            <%= link_to '<i class="material-icons">location_city</i>'.html_safe, 
                                lieus_path,
                                class: "btn btn-primary btn-xs" 
                            %>
                            <h4><%= I18n.t("home.index.lieux") %></h4>
                        </p>
                        <p>
                            <!-- SERVICES -->
                            <%= link_to '<i class="material-icons">business</i>'.html_safe, 
                                services_path,
                                class: "btn btn-primary btn-xs" 
                            %>
                            <h4><%= I18n.t("home.index.services") %></h4>
                        </p>
                    </div>
                    <div class="row">
                        <p>
                            <!-- GROUPES -->
                            <%= link_to '<i class="material-icons">group_work</i>'.html_safe, 
                                groupes_path,
                                class: "btn btn-primary btn-xs" 
                            %>
                            <h4><%= I18n.t("home.index.groupes") %></h4>
                        </p>
                        <p>
                            <!-- UTILISATEURS -->
                            <%= link_to '<i class="material-icons">group</i>'.html_safe, 
                                utilisateurs_path,
                                class: "btn btn-primary btn-xs" 
                            %>
                            <h4><%= I18n.t("home.index.utilisateurs") %></h4>
                        </p>
                    </div>
                    <div class="row">
                        <p>
                            <!-- CLASSES -->
                            <%= link_to '<i class="material-icons">category</i>'.html_safe, 
                                classes_path,
                                class: "btn btn-primary btn-xs" 
                            %>
                            <h4><%= I18n.t("home.index.classes") %></h4>
                        </p>
                        <p>
                            <!-- WORKS -->
                            <%= link_to '<i class="material-icons">build</i>'.html_safe, 
                                works_path,
                                class: "btn btn-primary btn-xs" 
                            %>
                            <h4><%= I18n.t("home.index.works") %></h4>
                        </p>
                    </div>
                </div>
            <% end %>
            <%= render partial: "admin" if user_signed_in? && current_user.admin? %>
        </div>
    </div>
</div>