<%= form_with model: @hebdo, local: true do |form| %>

    <% if @hebdo.errors.any? %>
        <strong>WARNING</strong>
        <ul>
            <% @hebdo.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    <% end %>


    <!-- PICKUP DATE -->
    <p>
        <%= form.label I18n.t("hebdos.new.date") %><br>
        <input type="week" name="hebdo[week]" id="hebdo_week" value="<%= @hebdo.week %>" required>
    </p>

    <!-- Utilisateur -->
    <p>
        <%= form.label I18n.t("hebdos.new.utilisateur") %><br>
        <% unless is_super_admin? %>
            <% temp = @utilisateurs %>
            <% @utilisateurs = temp.where(service: current_user.utilisateur.service) %>
        <% end %>
        <%= form.select(:utilisateur_id, @utilisateurs.collect {|p| [ "[#{p.service.nom}] - (#{p.groupe.nom}) - #{p.prenom_nom}", p.id ] }, 
                                    { }, 
                                    { :multiple => false }) %>
    </p>

    <!-- Task -->
    <p>
        <%= form.label I18n.t("hebdos.new.task") %><br>
        <% unless is_super_admin? %>
            <% temp = @tsks %>
            <% @tsks = temp.where(service: current_user.utilisateur.service) %>
        <% end %>
        <%= form.select(:task_id, @tsks.collect {|p| [ "[#{p.service.nom}] - (#{p.groupe.nom}) - #{p.nom}", p.id ] }, 
                                    { }, 
                                    { :multiple => false }) %>
    </p>

    <!-- Note -->
    <p>
        <%= form.label I18n.t("hebdos.new.note") %><br>
        <%= form.text_field :note %>
    </p>

    <p>
        <%= form.submit class: "btn btn-primary" %>
    </p>
<% end %>