<tr id="event_<%= event.id %>">
    <td><%= event.nom %></td>
    <td><%= event.date %></td>
    <td><%= event.service.nom %></td>
    <td><%= event.note %></td>
    <td>
    <% if user_signed_in? && current_user.admin? %>
        <%= link_to '<span data-toggle="tooltip" >
            <i class="material-icons">edit</i></span>'.html_safe, 
            edit_event_path(event),
            class: "btn btn-warning btn-xs" 
        %>

        <%= link_to '<span data-toggle="tooltip" >
            <i class="material-icons">close</i>'.html_safe, 
            event_path(event),
            method: :delete,
            remote: true,
            data: { confirm: "Delete #{event.nom} (#{event.date})  ?" },
            class: "btn btn-danger btn-xs" 
        %>
    <% end %>
    </td>
</tr>