<tr id="blog_category<%= blog_category.id %>">
    <td>
        <%= blog_category.nom %>
    </td>

    <td>
        <%= blog_category.description %>
    </td>

    <td>
        <div class="btn-group">
            <% if user_signed_in? && (current_user.admin? or current_user.utilisateur.admin?) %>
                <%= link_to '<span data-toggle="tooltip">
                    <i class="material-icons">edit</i></span>'.html_safe, 
                    edit_blog_category_path(blog_category),
                    class: "btn btn-warning btn-xs" %>
            <% end %>

            <% if user_signed_in? && current_user.admin? %>
                <%= link_to '<span data-toggle="tooltip" >
                    <i class="material-icons">close</i>'.html_safe, 
                    blog_category_path(blog_category),
                    method: :delete,
                    remote: true,
                    data: { confirm: "Delete blog_category #{blog_category.nom} ?" },
                    class: "btn btn-danger btn-xs" %>
            <% end %>
        </div>
        
        <%= link_to '<span data-toggle="tooltip" title="See Articles...">
                    <i class="material-icons">read_more</i></span>'.html_safe, 
                    blog_messages_path(blog_category_id: blog_category),
                    class: "btn btn-success btn-xs" %>
    </td>
</tr>
