<%= form_with model: @blog_category, local: true do |form| %>

    <% if @blog_category.errors.any? %>
        <strong>WARNING</strong>
        <ul>
            <% @blog_category.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    <% end %>

    <!-- NOM -->
    <p>
        <%= form.label I18n.t("blog_categories.new.nom") %><br>
        <%= form.text_field :nom %>
    </p>

    <!-- DESCRIPTION -->
    <p>
        <%= form.label I18n.t("blog_categories.new.description") %><br>
        <%= form.text_field :description %>
    </p>


    <!-- Submit -->
    <p>
        <%= form.submit class: "btn btn-primary" %>
    </p>
<% end %>