<% session[:page_aide] = "blog_categories" %>

<div class="page-header">
    <h1>
        <span class="label label-primary">
            <i class="material-icons">rss_feed</i>
            <%= I18n.t("blog_categories.index.blog").upcase %>
        </span>
    </h1>
    <h4>
        <span class="label label-info">
            <i class="material-icons">rss_feed</i>
            <%= I18n.t("blog_categories.index.categories").upcase %>
        </span>
    </h4>
</div>

<% session[:page_aide] = "blog_categories" %>


<div class="container">

    <p>
        <% if user_signed_in? && (is_manager_or_super_admin?) %>
        <%= link_to '<i class="material-icons">add</i> '.html_safe, 
            new_blog_category_path,
            class: "btn btn-success btn-xs" %>
        <% end %>
    </p>
    
    <div class="row" id="blog_categories">
        <%= render 'blog_categories' %>
    </div>

    <p>
        <% if user_signed_in? && (is_manager_or_super_admin?) %>
        <%= link_to '<i class="material-icons">add</i> '.html_safe, 
            new_blog_category_path,
            class: "btn btn-success btn-xs" %>
        <% end %>
    </p>
</div>
