<tr id="classe_<%= classe.id %>">
    <td><%= classe.nom %></td>
    <td><%= classe.description %></td>
    <td>
        <%= link_to '<span data-toggle="tooltip" >
            <i class="material-icons">edit</i></span>'.html_safe, 
            edit_class_path(classe),
            class: "btn btn-warning btn-xs" 
        %>

        <%= link_to '<span data-toggle="tooltip" >
            <i class="material-icons">close</i>'.html_safe, 
            class_path(classe),
            method: :delete,
            remote: true,
            data: { confirm: "Delete #{classe.nom}  ?" },
            class: "btn btn-danger btn-xs" 
        %>

        &nbsp;

        <%= link_to '<span data-toggle="tooltip" >
            <i class="material-icons">build</i></span>'.html_safe, 
            "/works_classe/#{classe.id}",
            class: "btn btn-info btn-xs" 
        %>



    </td>
</tr>