<%= form_with model: @classe, local: true do |form| %>

    <% if @classe.errors.any? %>
        <strong>WARNING</strong>
        <ul>
            <% @classe.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    <% end %>

    <!-- Nom -->
    <p>
        <%= form.label I18n.t("classes.form.nom") %><br>
        <%= form.text_field :nom %>
    </p>

    <!-- Description -->
    <p>
        <%= form.label I18n.t("classes.form.description") %><br>
        <%= form.text_field :description %>
    </p>
    <p>
        <%= form.submit class: "btn btn-primary" %>
    </p>
<% end %>