<tr id="semaine_<%= semaine.id %>">
    <td align=left><%= semaine.numero_semaine %> | </td>
    <td align=center><%= semaine.date_lundi %> | </td>
    <td align=left><%= prenom_nom(semaine.utilisateur) %></td>
    <td align=center><%= semaine.slug %></td>
    <td align=left><%= semaine.note %></td>
    <td>
        <%= link_to " [Show] ", semaine_path(semaine) %>
        <%= link_to " [Edit] ", edit_semaine_path(semaine) %>
        <%= link_to " [Delete] ", semaine_path(semaine), 
            method: :delete,
            remote: true,
            data: { confirm: "Delete #{semaine.numero_semaine} ?" } 
        %>
        <%= link_to " [Jobs] ", "/jobs_semaine/#{semaine.id}" %>
    </td>
</tr>