<% if semaine.numero_semaine != @numero_semaine_precedente %>
    <tr><td colspan="7"><hr>
    <span class="label label-primary">
        <%= semaine.numero_semaine %>
    </span>
    &nbsp;
    <span class="label label-info">
        <%= semaine.date_lundi %>
    </span>

    </td></tr>
<% end %>
<tr id="semaine_<%= semaine.id %>">
    <td colspan = "3"><%= semaine.utilisateur.prenom_nom %></td>
    <td><span class="badge"><%= semaine.slug %></span></td>
    <td><%= semaine.note %></td>
    <td>

        &nbsp;

        <%= link_to '<span data-toggle="tooltip" title="Editer">
            <i class="material-icons">edit</i></span>'.html_safe, 
            edit_semaine_path(semaine),
            class: "btn btn-warning btn-xs" 
        %>

        <%= link_to '<span data-toggle="tooltip" title="Supprimer">
            <i class="material-icons">close</i>'.html_safe, 
            semaine_path(semaine),
            method: :delete,
            remote: true,
            data: { confirm: "Delete #{semaine.slug}  ?" },
            class: "btn btn-danger btn-xs" 
        %>

        &nbsp;

        <%= link_to '<span data-toggle="tooltip" title="Jobs">
            <i class="material-icons">view_week</i></span>'.html_safe, 
            "/jobs_semaine/#{semaine.id}",
            class: "btn btn-info btn-xs" 
        %>

        
    </td>
    <% @numero_semaine_precedente = semaine.numero_semaine %>
</tr>