<h1>
    <%= @semaine.slug %>
</h1>
<p>
    Date du lundi : <%= @semaine.date_lundi %>
</p>
<p>
    Notes : <%= @semaine.note %>
</p>
<p>
    <%= link_to " [Edit] ", edit_semaine_path(@semaine) %>
    <%= link_to " [Jobs] ", "/jobs_semaine/#{@semaine.id}" %>
</p>

<hr>

