
<div class="row">
  <div class="col-sm-2"></div>
  <div class="panel panel-default col-xs-2"><strong>Lundi</strong></div>
  <div class="panel panel-default col-xs-2"><strong>Mardi</strong></div>
  <div class="panel panel-default col-xs-2"><strong>Mercredi</strong></div>
  <div class="panel panel-default col-xs-2"><strong>Jeudi</strong></div>
  <div class="panel panel-default col-xs-2"><strong>Vendredi</strong></div>
</div>
<% if @semaines %>
    <% @semaines.each do |semaine| %>
        <div class="row">
            <div class="col-xs-2">
                <p>
                    <strong><%= semaine.utilisateur.prenom_nom %></strong><br>
                    <% if !semaine.utilisateur.phone.blank? || !semaine.utilisateur.phone.nil? %>
                        <em>(<%= semaine.utilisateur.phone %>)</em>
                    <% end %>
                </p>
                <% if semaine.note %>
                    <span class="label label-default">
                        <em><%= semaine.note %></em>
                    </span>
                <% end %>
            </div>
            <% 5.times do |n| %>
                <% n += 1 %>

                <% style = "" %>
                <% dateJour = @date_depart+n.days-1 %>
                <% if !@conges[semaine.utilisateur].nil? %>
                    <% if @conges[semaine.utilisateur].include?(dateJour.to_s) %>
                        <% style = "conge_ok" %>
                    <% end %>
                <% end %>
                <% if !@absences[semaine.utilisateur].nil? %>
                    <% if @absences[semaine.utilisateur].include?(dateJour.to_s) %>
                        <% style = "absence" %>
                    <% end %>
                <% end %>
                <div class="panel panel-primary col-xs-2 <%= style %>">

                    <% jobs_ampm = Array.new %>
                    <!-- Jobs partie 1 (AM) -->
                    <% jobs_ampm << semaine.jobs.where(numero_jour: n, am_pm: 0) %>
                    <!-- Jobs partie 2 (PM) -->
                    <% jobs_ampm << semaine.jobs.where(numero_jour: n, am_pm: 1) %>
                    <% jobs_ampm.each do |job_ampm| %>
                        <% job_ampm.each do |job| %>
                            <span data-toggle="tooltip", title="<%= job.note %>">

                                <% if n < Date.today.cwday %>
                                    <small><em>
                                <% elsif n == Date.today.cwday%>
                                    <!-- -->
                                <% else %>
                                    <small>
                                <% end %>

                                 <%= am_pm(job.am_pm) %> :
                                <% job.working_lists.each do |wl| %>
                                    <% if n < Date.today.cwday %>
                                        <% type = "default" %>
                                    <% elsif job.am_pm %>
                                        <% type = "info" %>
                                    <% else %>
                                        <% type = "primary" %>
                                    <% end %>

                                    <span class="label label-<%= type %>">
                                        <%= wl.work.code %>
                                        </span>
                                    &nbsp;
                                <% end %>

                                <% if n < Date.today.cwday %>
                                    </em></small>
                                <% elsif n == Date.today.cwday%>
                                    <!-- -->
                                <% else %>
                                    </small>
                                <% end %>

                            </span>
                        <% end %>
                        <br>
                    <% end %>
                    &nbsp;
                </div>
            <% end %>
        </div>
    <% end %>
<% end %>

<!-- // Est-ce qu'il y a des congés non repris ? -->
<% @conges.keys.each do |utilisateur| %>
    <% conges = @conges[utilisateur]%>
    <% unless @semaines.where(utilisateur: utilisateur).exists? %>
        <div class="row">
            <div class="col-xs-2">
                <p><strong><%= utilisateur.prenom_nom %></strong></p>
            </div>
            <% 5.times do |n| %>
                <% n += 1 %>
                <% dateJour = @date_depart+n.days-1 %>
                <% if conges.include?(dateJour.to_s) %>
                    <div class="panel panel-primary col-xs-2 conge_ok">
                <% else %>
                    <div class="panel panel-primary col-xs-2">
                <% end %>
                &nbsp;
                </div>
            <% end %>
        </div>
    <% end %>
<% end %>



<!-- // Est-ce qu'il y a des malades non repris ? -->
<% @absences.keys.each do |utilisateur| %>
    <% absences = @absences[utilisateur]%>
    <% unless @semaines.where(utilisateur: utilisateur).exists? %>
        <div class="row">
            <div class="col-xs-2">
                <p><strong><%= utilisateur.prenom_nom %></strong></p>
            </div>
            <% 5.times do |n| %>
                <% n += 1 %>
                <% dateJour = @date_depart+n.days-1 %>
                <% if absences.include?(dateJour.to_s) %>
                    <div class="panel panel-primary col-xs-2 absence">
                <% else %>
                    <div class="panel panel-primary col-xs-2">
                <% end %>
                &nbsp;
                </div>
            <% end %>
        </div>
    <% end %>
<% end %>