<div class="row grille">

 <table class="table-condensed table table-bordered table-striped table-responsive">
        <thead>
            <tr>
                <% unless @vue_semaine %>
                    <th>Semaines</th>
                <% else %>
                    <th><%= "#{@date_depart} / #{@date_fin}" %></th>
                <% end %>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% nombre = @vue_semaine ? 1 : 76 %>
            <% nombre.times do |n_mois| %>
                <% date_parcourue = (@date_depart + n_mois.weeks) %>

                <% annee = date_parcourue.year %>
                <% semaine = date_parcourue.cweek %>
                <% numero_semaine = "#{annee}-W#{semaine<10 ? '0' : ''}#{semaine}" %>
                
                <!-- Change la couleur de la ligne si semaine parcourue est la semaine actuelle -->
                <% couleur_ligne_semaine = ("#{Date.today.cweek}/#{Date.today.year}"=="#{date_parcourue.cweek}/#{date_parcourue.year}") ? "warning" : "default" %>

                <tr class=<%= "#{couleur_ligne_semaine}" %>>
                    <td>
                        <%= "#{numero_semaine}" %>
                    </td>
                    <td align="center">

                        <!-- Récupère les enregistrements à la date parcourue -->
                        <% records = @semaines.where(numero_semaine: "#{numero_semaine}") %>
                        <% records.each do |record| %>
                            <% if ("#{Date.today.cweek}/#{Date.today.year}"=="#{date_parcourue.cweek}/#{date_parcourue.year}") %>
                                <a href="<%= "/jobs_semaine/#{record.id}" %>" class="label label-primary tab-cell btn-primary" role="button">
                            <% elsif (date_parcourue<Date.today) %>
                                <a href="" class="label label-default tab-cell btn-default">
                            <% else %>
                                <a href="" class="label label-info tab-cell btn-info">
                            <% end %>
                                
                                <%= prenom_nom(record.utilisateur) %>
                                
                            </a>

                        <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table> 
</div>