<div class="row grille">

 <table class="table-condensed table table-bordered table-striped table-responsive">
        <thead>
            <tr>
                <% unless @vue_semaine %>
                    <th>Semaines</th>
                <% else %>
                    <th><%= "#{@date_depart} / #{@date_fin}" %></th>
                <% end %>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% nombre = @vue_semaine ? 1 : 76 %>
            <% nombre.times do |n_mois| %>
                <% date_parcourue = (@date_depart + n_mois.weeks) %>

                <% annee = date_parcourue.year %>
                <% semaine = date_parcourue.cweek %>
                <% numero_semaine = "#{annee}-W#{semaine<10 ? '0' : ''}#{semaine}" %>
                <% semaine_courante = ("#{Date.today.cweek}/#{Date.today.year}"=="#{date_parcourue.cweek}/#{date_parcourue.year}") %>
                <!-- Change la couleur de la ligne si semaine parcourue est la semaine actuelle -->
                <% couleur_ligne_semaine = semaine_courante ? "warning" : "default" %>

                <tr class=<%= "#{couleur_ligne_semaine}" %>>
                    <td>
                        <%= "#{numero_semaine}" %>
                    </td>
                    <td align="center">
                        <!-- Récupère les enregistrements à la date parcourue -->
                        <% jobs = @semaines.where(numero_semaine: "#{numero_semaine}") %>
                        <% jobs.each do |job| %>
                            <% if semaine_courante %>
                                <% bouton = "label-primary" %>
                            <% elsif (date_parcourue<Date.today) %>
                                <% bouton = "label-default" %>
                            <% else %>
                                <% bouton = "label-info" %>
                            <% end %>
                            <a href="<%= "/jobs_semaine/#{job.id}" %>" role="button" class="label <%= bouton %> tab-cell ">
                                <% utilisateur = job.utilisateur %>
                                <%= utilisateur.prenom_nom %>

                                <!-- Absences -->
                                <% if @absences.has_key?(numero_semaine) %>
                                    <% if @absences[numero_semaine].key?(utilisateur.id) %>
                                        <span class="label label-warning">
                                            <%= @absences[numero_semaine][utilisateur.id].count %>
                                            <% @absences[numero_semaine][utilisateur.id].each do |a| %>
                                                <% @absences[numero_semaine][utilisateur.id].delete(a) %>
                                            <% end %>
                                        </span>
                                    <% end %>
                                <% end %>

                                <!-- Conges -->
                                <% if @conges.has_key?(numero_semaine) %>
                                    <% if @conges[numero_semaine].key?(utilisateur.id) %>
                                        <span class="label label-success">
                                            <%= @conges[numero_semaine][utilisateur.id].count %>
                                            <% @conges[numero_semaine][utilisateur.id].each do |a| %>
                                                <% @conges[numero_semaine][utilisateur.id].delete(a) %>
                                            <% end %>
                                        </span>
                                    <% end %>
                                <% end %>
                            </a>
                        <% end %>

                        <!-- Affiche les absences et les conges restant -->
                        <% if @absences.has_key?(numero_semaine) %>
                            <% @absences[numero_semaine].keys.each do |id_u| %>
                                <% @absences[numero_semaine][id_u].each do |a| %>
                                        <%= a.utilisateur.prenom_nom %>
                                <% end %>
                            <% end %>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table> 
</div>