<h1>
    <span class="label label-primary">
        <i class="material-icons">work_off</i>
        <%= "Congés et absences".upcase %>
    </span>
</h1>

<h2>Panels with Contextual Classes</h2>

<% date_jour = Date.parse("#{Date.today.year}-01-01").beginning_of_week %>
<% last_n_semaine = 99 %>

<% 12.times do |n| %>
    <% n = n + 1%>

    <% premier = Date.parse("#{Date.today.year}-#{n<10 ? "0#{n}" : n}-01") %>
    <% case premier.cwday %>
    <% when 7 %>
        <% date_jour = premier + 1.day %>
    <% when 6 %>
        <% date_jour = premier + 2.day %>
    <% else %>
        <% date_jour = premier.beginning_of_week %>
    <% end %>
    
    <div class="col-xs-12 col-lg-6" id="month_<%= n<10 ? "0#{n}" : n %>">
        <div class="panel panel-default">
            <div class="panel-heading"><%= Date::ABBR_MONTHNAMES[n] %></div>
            <div class="panel-body">
                <table class="table table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <% 5.times do |j| %>
                                <% j = j+1 %>
                                <th><%= j %></th>
                            <% end %>
                        </tr>
                    </thead>
                    <tbody>

                        
                        <% 5.times do |repetition| %>
                            <% if (date_jour.cwday == 1 && date_jour.month > n) && date_jour.month!=12 %>
                                <tr><td colspan="6">&nbsp;</td></tr>
                            <% else %>
                                <tr>
                                    <!-- Semaine -->
                                    <td>W-<%= date_jour.cweek<10 ? "0#{date_jour.cweek}" : date_jour.cweek %></td>
                                    <% 5.times do |index_jour| %>
                                        <td> <%= date_jour %> </td>
                                        <% date_jour = date_jour + 1.day %>
                                    <% end %>
                                    <!-- Weekend -->
                                    <% date_jour = date_jour + 2.days %>
                                </tr>
                            <% end %>
                        <% end %>

                        

                        

                    </tbody>
                </table>
            </div>
        </div>
    </div>
<% end %>

