<h1>
    <span class="label label-primary">
        <i class="material-icons">work_off</i>
        <%= "Congés et absences".upcase %>
    </span>
</h1>

<h2><span class="label label-default"><%= @annee %></span></h2>

<% date_jour = Date.parse("#{@annee}-01-01").beginning_of_week %>
<% last_n_semaine = 99 %>

<% 12.times do |n| %>
    <% n = n + 1%>

    <% premier = Date.parse("#{@annee}-#{n<10 ? "0#{n}" : n}-01") %>
    
    <div class="col-xs-12" id="month_<%= n<10 ? "0#{n}" : n %>">
        <div class="panel panel-default">
            <div class="panel-heading">
                <H3>
                <%= Date::ABBR_MONTHNAMES[n] %>
                </H3>
            </div>
            <div class="panel-body">
                <table class="table table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <% nombre_jours = premier.end_of_month.day.to_i %>
                            <% nombre_jours.times do |j| %>
                                <% j = j+1 %>
                                <th><%= j<10 ? "0#{j}" : j %></th>
                            <% end %>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <% @utilisateurs.each do |id, utilisateur| %>
                            <tr>
                                <td>
                                    <%= utilisateur.prenom_nom %>
                                </td>
                                <% nombre_jours.times do |j| %>
                                    <% j = j+1 %>
                                    <% dt = "#{@annee}-#{n<10 ? "0" : ""}#{n}-#{j<10 ? "0": ""}#{j}" %>
                                    <% date_jour = Date.parse(dt) %>

                                    <% style = "" %>
                                    <% contenu = "" %>

                                    <% unless @conges_ok[id].nil? %>
                                        <% if @conges_ok[id].include?(date_jour.to_s) %>
                                            <% style = "conge_ok" %>
                                        <% end %>
                                    <% end %>

                                    <% unless @conges_wait[id].nil? %>
                                        <% if @conges_wait[id].include?(date_jour.to_s) %>
                                            <% style = "conge_wait" %>
                                            <% contenu = "?" %>
                                        <% end %>
                                    <% end %>

                                    <% unless @absences[id].nil? %>
                                        <% if @absences[id].include?(date_jour.to_s) %>
                                            <% style = "absence" %>
                                        <% end %>
                                    <% end %>


                                    <td class="<%= style %>">
                                        <%= contenu %>
                                    </td>
                                <% end %>
                            </tr>
                        <% end %>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
<% end %>

