<h1>AGENDAS</h1>
<p>Liste des différents agendas disponibles</p>

<h2>Cette semaine</h2>
<ul>
    <li><%= link_to "Absences", agendas_absences_path %></li>
    <li><%= link_to "Congés", agendas_conges_path %></li>
    <li><%= link_to "Semaines", agendas_semaines_path %></li>
    <li><%= link_to "Jobs", agendas_jobs_path %></li>
    <li><%= link_to "Jours", agendas_jours_path %></li>
</ul>

<h2>Cette année</h2>
<ul>
    <li><%= link_to "Absences", agendas_absences_path %></li>
    <li><%= link_to "Congés", agendas_conges_path %></li>
    <li><%= link_to "Semaines", agendas_semaines_path %></li>
    <li><%= link_to "Jobs", agendas_jobs_path %></li>
    <li><%= link_to "Jours", agendas_jours_path %></li>
</ul>