<h1>AGENDAS</h1>
<p>Liste des différents agendas disponibles</p>

<!-- MENU -->
<ul>
    <li><%= link_to "Absences", agendas_absences_path %></li>
    <li><%= link_to "Congés", agendas_conges_path %></li>
    <li><%= link_to "Semaines", agendas_semaines_path %></li>
    <li><%= link_to "Semaines courantes", semaines_this_week_path %></li>
    <li><%= link_to "Jobs cette semaine", jobs_this_week_path %></li>
    <li><%= link_to "WorkingLists courantes", working_lists_this_week_path %></li>
</ul>