    <h1>
        <span class="label label-primary">
            <i class="material-icons">date_range</i>
            <%= "Cette semaine".upcase %>
        </span>
    </h1>

<div class="row">
    <div class="col-xs-8 col-sm-9 col-md-10">
        (<em><%= @numero_semaine %></em>)
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="badge">
        <%= "#{@date_depart} >> #{@date_fin}" %>
        </span>
    </div>


    <div class="col-xs-4 col-sm-3 col-md-2">
        <%= link_to '<i class="material-icons">chevron_left</i>'.html_safe,
        agendas_semaine_path(semaine: numeroSemainePourDate(@date_depart.prev_week)),
        class: "btn btn-info btn-xs" %>

        <%= link_to '<i class="material-icons">radio_button_unchecked</i>'.html_safe,
        agendas_semaine_path, 
        class: "btn btn-info btn-xs" %>

        <%= link_to '<i class="material-icons">chevron_right</i>'.html_safe,
        agendas_semaine_path(semaine: numeroSemainePourDate(@date_depart.next_week)), 
        class: "btn btn-info btn-xs" %>
    </div>
</div>

<p>
    <span class="label label-primary">Prestations 1</span>
    <span class="label label-info">Prestations 2</span>
    <span class="label label-success">Congés</span>
    <span class="label label-warning">Absences</span>
</p>
<%= render 'grille_cette_semaine' %>