<tr id="type_absence_<%= type_absence.id %>">
    <td><%= type_absence.code %></td>
    <td><%= type_absence.nom %></td>
    <td><%= type_absence.description %></td>
    <td>

        <%= link_to '<span data-toggle="tooltip">
                    <i class="material-icons">edit</i></span>'.html_safe, 
                    edit_type_absence_path(type_absence),
                    class: "btn btn-warning btn-xs" %>

        <%= link_to '<span data-toggle="tooltip">
                    <i class="material-icons">close</i>'.html_safe, 
                    type_absence_path(type_absence),
                    method: :delete,
                    remote: true,
                    data: { confirm: "Delete #{type_absence.nom} ?" },
                    class: "btn btn-danger btn-xs" %>
        
    </td>
</tr>