<% session[:page_aide] = "absences_types" %>

<div class="page-header">
    <h1>
        <span class="label label-primary">
            <i class="material-icons">healing</i>
            <%= I18n.t("type_absences.index.titre").upcase %>
        </span>
    </h1>
</div>
<div class="container">
    <h2>
        <span class="label label-info">
            <%= I18n.t("type_absences.index.sous_titre").capitalize %>
        </span>
    </h2>

    <p>
        <%= I18n.t("type_absences.index.description") %>
    </p>

    <p>
    <% if user_signed_in? && is_super_admin? %>
    <%= link_to '<i class="material-icons">add</i> '.html_safe, 
        new_type_absence_path,
        class: "btn btn-success btn-xs" %>
    <% end %>
    </p>

    <div id="type_absences">
        <%= render 'type_absences' %>
    </div>

    <p>
    <% if user_signed_in? && is_super_admin? %>
    <%= link_to '<i class="material-icons">add</i> '.html_safe, 
        new_type_absence_path,
        class: "btn btn-success btn-xs" %>
    <% end %>
    </p>

