<% @blog_messages.each do |blog_message| %>

    <div class="container">
        <h1>
            <span class="label label-primary"><%= blog_message[:blog_message].title.capitalize %> </span>
            
        </h1>
        <strong><i>[<%= blog_message[:utilisateur].prenom_nom %>]</i></strong>
        

        <!-- DATES AND KEYWORDS -->
        <h3><span class="label label-default">
                <strong><%= I18n.t("blog_messages.show.category") %> :</strong> <span class="label label-info"><%= blog_message[:category].nom %></span>
            </span>
        </h3>

        <table>
            <tr>
                <td><strong><%= I18n.t("blog_messages.show.service") %> :</strong> <span class="label label-primary"><%= blog_message[:service].nom %></span></td>
                <td><strong><%= I18n.t("blog_messages.show.groupe") %> :</strong> <span class="label label-default"><%= blog_message[:groupe].nom %></span></td>
                <td><strong><%= I18n.t("blog_messages.show.classe") %> :</strong> <span class="label label-default"><%= blog_message[:classe].nom %></span></td>
            </tr>
            <tr>
                <td><strong><%= I18n.t("blog_messages.show.published_at") %> :</strong> <%= blog_message[:blog_message].date %></td>
                <td><strong><%= I18n.t("blog_messages.show.created_at") %> :</strong> <%= blog_message[:blog_message].created_at %></td>
                <td><strong><%= I18n.t("blog_messages.show.updated_at") %> :</strong> <%= blog_message[:blog_message].updated_at %></td>
            </tr>
        </table>

        <!-- TEXT -->
        <p>
            <%= blog_message[:blog_message].description %>
        </p>
        
    </div>

    <hr>

<% end %>