    
    <% dd = date_jour.to_s %>

    <%= abs[0] unless abs.nil? %>

    <!-- Works -->
    <% [false, true].each do |ap| %>
        <% unless @jours[service][groupe][utilisateur][dd].nil? %>
            <% _ap = @jours[service][groupe][utilisateur][dd][ap] %>
            <% unless _ap.nil? %>

                <!-- Transforme la cellule en bouton si mode édition actif -->
                <% if user_signed_in? && is_super_admin? && @edit_mode %>
                    <% ajout = Ajout.new(utilisateur_id: utilisateur.id, date: dd, am_pm: ap) %>
                    <% unless _ap[0].nil? %>
                        <% ajout.work1 = _ap[0].work.id %>
                    <% end %>
                    <% unless _ap[1].nil? %>
                        <% ajout.work2 = _ap[1].work.id %>
                    <% end %>
                    <% unless _ap[2].nil? %>
                        <% ajout.work3 = _ap[2].work.id %>
                    <% end %>
                    <% unless _ap[3].nil? %>
                        <% ajout.work4 = _ap[3].work.id %>
                    <% end %>
                    <% unless _ap[4].nil? %>
                        <% ajout.work5 = _ap[4].work.id %>
                    <% end %>

                    
                    <a href="/ajouts/modification?utilisateur_id=<%= utilisateur.id %>
                        &date=<%= dd %>
                        &am_pm=<%= ap %>
                        &work1=<%= @jours[service][groupe][utilisateur][dd][ap][0].work.id %>
                        &work2=<%= @jours[service][groupe][utilisateur][dd][ap][1].work.id unless @jours[service][groupe][utilisateur][dd][ap][1].nil? %>
                        &work3=<%= @jours[service][groupe][utilisateur][dd][ap][2].work.id unless @jours[service][groupe][utilisateur][dd][ap][2].nil? %>
                        &work4=<%= @jours[service][groupe][utilisateur][dd][ap][3].work.id unless @jours[service][groupe][utilisateur][dd][ap][3].nil? %>
                        &work5=<%= @jours[service][groupe][utilisateur][dd][ap][4].work.id unless @jours[service][groupe][utilisateur][dd][ap][4].nil? %>" 
                        class="btn btn-default btn-xs" role="button">

                <% end %>

                <% @jours[service][groupe][utilisateur][dd][ap].each do |wl| %>
                    <!-- Change la couleur pour certains works -->
                    <% cl = "" %>
                    <% if @konfiguration %>
                        
                        <% if (wl.work.code.downcase == @konfiguration[:jours_specific_month_keep_attention_code].downcase) and (Date.parse(dd).wday == @konfiguration[:jours_specific_month_keep_attention_day].to_i) %>
                            <% #if wl.work.code.downcase == "qc" && Date.parse(dd).wday==5 %>
                            
                            <% cl = "keep_attention" %>
                        <% end %>
                        
                    <% end %>
                    <!-- Affiche le works -->
                    <% unless ap %>
                        <% label = "" %>
                    <% else %>
                        <% label = "label label-info" %>
                    <% end %>
                    <% label = "label label-warning" if wl.work.mark %>
                    <span class="<%= label %> <%= cl %>">
                        <strong><%= wl.work.code %></strong>
                    </span>
                <% end %>

                <% if @jours[service][groupe][utilisateur][dd]["notes"][ap] %>
                    <span data-toggle="tooltip" title="<%= @jours[service][groupe][utilisateur][dd]["notes"][ap] %>">(!)</span>
                <% end %>

                <% if user_signed_in? && is_super_admin? && @edit_mode %>
                    </a>
                <% end %>
            

            <% else %>
                <!-- TODO -->

            <% end %>
        <% else %>
        <% end %>

        <% unless @job_autre[utilisateur.id].nil? %>
            <% unless @job_autre[utilisateur.id][dd].nil? %>
                <% @job_autre[utilisateur.id][dd].each do |srv| %>
                    <% srv = srv[0] %>
                    <% unless srv == service.nom %>
                        <% unless @job_autre[utilisateur.id][dd][srv].nil? %>
                            <% unless @job_autre[utilisateur.id][dd][srv][ap].nil? %>
                                <% @job_autre[utilisateur.id][dd][srv][ap].each do |job_autre_wl| %>
                                    <span data-toggle="tooltip" title="<%= srv %>">
                                        <small><em>[<%= job_autre_wl.work.code %>]</em></small>
                                    </span>
                                <% end %>
                            <% end %>
                        <% end %>
                    <% end %>
                <% end %>
            <% end %>
        <% end %>
    <% end %>


    <% bg = "" %>
