<td class="tdfixe3 <%= bg %>">
    <% dd = date_jour.to_s %>

    <!-- Works -->
    <% [false, true].each do |ap| %>
        <% unless @jours[service][utilisateur][dd].nil? %>
            <% unless @jours[service][utilisateur][dd][ap].nil? %>

                <!-- Transforme la cellule en bouton si mode édition actif -->
                <% if user_signed_in? && current_user.admin? && @edit_mode %>
                    <% ajout = Ajout.new(utilisateur_id: utilisateur.id, date: dd, am_pm: ap) %>
                    <% unless @jours[service][utilisateur][dd][ap][0].nil? %>
                        <% ajout.work1 = @jours[service][utilisateur][dd][ap][0].work.id %>
                    <% end %>
                    <% unless @jours[service][utilisateur][dd][ap][1].nil? %>
                        <% ajout.work2 = @jours[service][utilisateur][dd][ap][1].work.id %>
                    <% end %>
                    <% unless @jours[service][utilisateur][dd][ap][2].nil? %>
                        <% ajout.work3 = @jours[service][utilisateur][dd][ap][2].work.id %>
                    <% end %>
                    <% unless @jours[service][utilisateur][dd][ap][3].nil? %>
                        <% ajout.work4 = @jours[service][utilisateur][dd][ap][3].work.id %>
                    <% end %>
                    <% unless @jours[service][utilisateur][dd][ap][4].nil? %>
                        <% ajout.work5 = @jours[service][utilisateur][dd][ap][4].work.id %>
                    <% end %>
                    <a href="/ajouts/-1/modification?utilisateur_id=<%= utilisateur.id %>&date=<%= dd %>&am_pm=<%= ap %>&work1=<%= @jours[service][utilisateur][dd][ap][0].work.id %>&work2=<%= @jours[service][utilisateur][dd][ap][1].work.id unless @jours[service][utilisateur][dd][ap][1].nil? %>&work3=<%= @jours[service][utilisateur][dd][ap][2].work.id unless @jours[service][utilisateur][dd][ap][2].nil?%>&work4=<%= @jours[service][utilisateur][dd][ap][3].work.id unless @jours[service][utilisateur][dd][ap][3].nil?%>&work5=<%= @jours[service][utilisateur][dd][ap][4].work.id unless @jours[service][utilisateur][dd][ap][4].nil?%>" class="btn btn-default btn-xs" role="button">
                <% end %>

                <% @jours[service][utilisateur][dd][ap].each do |wl| %>
                    <!-- Change la couleur pour certains works -->
                    <% cl = "" %>
                    <% if wl.work.code.downcase == "qc" && Date.parse(dd).wday==5 %>
                        <% cl = "keep_attention" %>
                    <% end %>
                    <!-- Affiche le works -->
                    <% unless ap %>
                        <span class="  <%= cl %>">
                    <% else %>
                        <span class="label label-info <%= cl %>">
                    <% end %>
                        <strong><%= wl.work.code %></strong>
                    </span>
                <% end %>

                <% if user_signed_in? && current_user.admin? && @edit_mode %>
                    </a>
                <% end %>

            <% else %>
                <!-- TODO -->

            <% end %>

        <% else %>
            
            


        <% end %>
    <% end %>

    <!-- Si il existe un job au même jour dans un autre servcie, écrire une note -->
            <% @services.each do |autre_service| %>
                <% if autre_service != service %>
                    <% if @jours[autre_service] %>
                        <% if @jours[autre_service][utilisateur] %>
                            <% if @jours[autre_service][utilisateur][dd] %>
                                <% [false, true].each do |autre_ap| %>
                                    <% if @jours[autre_service][utilisateur][dd][autre_ap] %>
                                        <% @jours[autre_service][utilisateur][dd][autre_ap].each do |autre_wl| %>
                                            <span title="<%= autre_service.nom %>" class="already_a_job"><i>[<%= autre_wl.work.code %>]</i></span>
                                        <% end %>
                                    <% end %>
                                    <br>
                                <% end %>
                            <% end %>
                        <% end %>
                    <% end %>
                <% end %>
            <% end %>


    <% bg = "" %>
</td>