<%= form_with model: @jour, local: true do |form| %>

<% if @jour.errors.any? %>
<strong>WARNING</strong>
<ul>
    <% @jour.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
</ul>
<% end %>


<!-- Utilisateur -->
<div class="panel panel-default">
    <div class="panel-heading">
        <%= form.label I18n.t("jours.form.utilisateur") %>
    </div>
    <div class="panel-body">
        <% if is_super_admin? %>
            <% utilisateurs = Utilisateur.all %>
        <% else %>
            <% utilisateurs = Utilisateur.where(service: current_user.utilisateur.service) %>
        <% end %>
        <p>
            <%= form.select(:utilisateur_id) do %>
                <%= select_option_tag("", nil, @jour.utilisateur_id) %>
                <% utilisateurs.find_each do |l| %>
                    <%= select_option_tag(l.prenom_nom, l.id, @jour.utilisateur_id) %>                
                <% end %>
            <% end %>
        </p>

        <!-- Service -->
        <% if is_super_admin? %>
            <% services = Service.all %>
        <% else %>
            <% services = Service.where(id: current_user.utilisateur.service) %>
        <% end %>

        <p>
            <%= form.label I18n.t("jours.form.service") %> : 
            <%= services.find(@jour.service_id).nom.capitalize %>
            <!--
            <%= form.select(:service_id) do %>
            <%= select_option_tag("", nil, @jour.service_id) %>
            <% services.find_each do |l| %>
            <%= select_option_tag(l.nom.capitalize, l.id, @jour.service_id) %>
            <% end %>
            <% end %>
            -->
        </p>
    </div>
</div>

<!-- Date and time -->
<div class="panel panel-default">
    <div class="panel-heading">
        <%= form.label I18n.t("jours.form.date") %>
    </div>
    <div class="panel-body">
        <p>
            <%= form.date_field :date %>
        </p>
        <p>
            <%= form.radio_button :am_pm, false %> <%= I18n.t("jours.form.am") %>
            <%= form.radio_button :am_pm, true %> <%= I18n.t("jours.form.pm") %>
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <%= form.label :note %>
    </div>
    <div class="panel-body">
        <p>
            
            <%= form.text_field :note %>
        </p>
    </div>
</div>

<p>
    <%= form.submit class: "btn btn-success" %>
</p>
<% end %>