<%= form_with model: @jour, local: true do |form| %>

<% if @jour.errors.any? %>
<strong>WARNING</strong>
<ul>
    <% @jour.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
</ul>
<% end %>





    <!-- Dates -->
    <p>
        <%= form.label :date %><br>
        <%= form.date_field :date %>
    </p>

    <!-- Service -->
    <p>
        <%= form.label :service_id %><br>
        <%= form.select(:service_id) do %>
            <%= select_option_tag("", nil, @jour.service_id) %>
            <% Service.all.find_each do |l| %>
                <%= select_option_tag(l.nom.capitalize, l.id, @jour.service_id) %>
            <% end %>
        <% end %>
    </p>

    <!-- Utilisateur -->
    <p>
        <%= form.label :utilisateur_id %><br>
        <%= form.select(:utilisateur_id) do %>
            <%= select_option_tag("", nil, @jour.utilisateur_id) %>
            <% Utilisateur.all.find_each do |l| %>
                <%= select_option_tag(l.prenom_nom, l.id, @jour.utilisateur_id) %>                
            <% end %>
        <% end %>
    </p>

    <p>
        <%= form.radio_button :am_pm, false %> AM
        <%= form.radio_button :am_pm, true %> PM
    </p>



<p>
    <%= form.submit class: "btn btn-success" %>
</p>
<% end %>