<tr id="jour_<%= jour.id %>">
    <td><%= jour.numero_semaine %></td>
    <td><%= jour.date %></td>
    <td><%= nom_jour(jour.numero_jour) %></td>
    <td><%= jour.service.nom %></td>
    <td><%= jour.utilisateur.prenom_nom %></td>
    <td><%= am_pm(jour.am_pm) %></td>
    <td>
        <%= link_to '<span data-toggle="tooltip" >
            <i class="material-icons">edit</i></span>'.html_safe, 
            edit_jour_path(jour),
            class: "btn btn-warning btn-xs" 
        %>

        <%= link_to '<span data-toggle="tooltip" >
            <i class="material-icons">close</i>'.html_safe, 
            jour_path(jour),
            method: :delete,
            remote: true,
            data: { confirm: "Delete #{jour.date}  ?" },
            class: "btn btn-danger btn-xs" 
        %>

        &nbsp;

        
    </td>
</tr>