<tr class="ligne maintenance"> 
    <td>
        <strong><%= "Maintenances".upcase %> <%= service.nom %></strong>
    </td>

    <% ((@date2-@date).to_i).times do |index| %>
        <% date_jour = (@date + index.day) %>
        <% bg = "normal" %>
        

        <!-- Si Weekend... -->        
        <% if date_jour.wday==6 %>
            <td class="weekend">

                <% if date_jour.wday==6 or date_jour.wday==0 %>
                    <% m = maintenances[date_jour] ? maintenances[date_jour] : Array.new %>
                    <% m.each do |maintenance| %>
                        <% bg = "default" %>
                        
                        <% bg = "info" if maintenance.isLaterThanTwoWeeks? %>
                        <% bg = "warning" if maintenance.isWithinTwoWeeks? %>
                        <% bg = "danger" if maintenance.isWithinFiveDays? %>
                        <% bg = "success" if maintenance.isToday? %>
                        <% bg = "default" if maintenance.isPassed? %>
                        <span class="label label-<%= bg %>"
                            data-toggle="tooltip"
                            title="<%= maintenance.maintenance_ressource.name %> - From <%= maintenance.date_start %> to <%= maintenance.date_end %>">
                            M
                        </span>
                    <% end %>
                <% end %>
            </td>
        <% end %>

        <!-- Si Jour de semaine ... -->
        <% if (1..5).include?(date_jour.wday) %>

        

            <!-- Jour de semaine "normal" -->

            <% if date_jour == Date.today %>
                <!-- Si jour est date actuelle on jauni le fond ... -->
                <% bg = "today" %>
            <% end %>

            

            <!-- service ouvert... -->

            <!-- service fermé... -->
            <% unless @fermetures[service.id].nil? %>
                <% unless @fermetures[service.id][date_jour.to_s].nil? %>
                    <% bg = "ferie" %>
                <% end %>
            <% end %>
            

            <!-- On affiche la cellule du jour -->
            <td class="<%= bg %>">
                <% m = maintenances[date_jour] ? maintenances[date_jour] : Array.new %>
                <% m.each do |maintenance| %>
                    <% bg = "default" %>
                    <% bg = "info" if maintenance.isLaterThanTwoWeeks? %>
                    <% bg = "warning" if maintenance.isWithinTwoWeeks? %>
                    <% bg = "danger" if maintenance.isWithinFiveDays? %>
                    <% bg = "success" if maintenance.isToday? %>
                    <% bg = "default" if maintenance.isPassed? %>
                    <span 
                        class="label label-<%= bg %>"
                        data-toggle="tooltip"
                        title="From <%= maintenance.date_start %> to <%= maintenance.date_end %>">
                        <%= maintenance.maintenance_ressource.name %>
                    </span>

                <% end %>
            </td>
             
        <% end %>
    <% end %>
</tr>