
<table class="table table-striped">
    <tr>
        <th><%= I18n.t("jours.index.service") %></th>
        <th><%= I18n.t("jours.index.utilisateur") %></th>
        <th><%= I18n.t("jours.index.am_pm") %></th>
        <th></th>
    </tr>
    

<% @specific_day_jours.each do |specific_day_jour| %>
    <tr id="jour_<%= specific_day_jour.id %>">
        <td><%= specific_day_jour.service.nom %></td>
        <td><%= specific_day_jour.utilisateur.prenom_nom %></td>
        <td><%= am_pm(specific_day_jour.am_pm) %></td>
        <td>
            <%= link_to '<span data-toggle="tooltip" >
                <i class="material-icons">edit</i></span>'.html_safe, 
                edit_jour_path(specific_day_jour),
                class: "btn btn-warning btn-xs" 
            %>

            <%= link_to '<span data-toggle="tooltip" >
                <i class="material-icons">close</i>'.html_safe, 
                jour_path(specific_day_jour),
                method: :delete,
                remote: true,
                data: { confirm: "Delete #{specific_day_jour.date}  ?" },
                class: "btn btn-danger btn-xs" 
            %>

            &nbsp;

            
        </td>
    </tr>
<% end %>




</table>
