<h1>
    <span class="label label-info">
        <i class="material-icons">date_range</i>
        <%= numeroSemainePourDate(@date) %>
    </span>
</h1>

<% @jours.each do |service, contenu| %>
    <div class="row">
        <div class="well"><%= service.nom %></div>
    </div>
    <div class="row">
        <div class="col-sm-2">
        </div>
        <% 5.times do |i| %>
            <% i+= 1 %>
            <div class="col-sm-2">
                <%= nom_jour(i) %>
            </div>
        <% end %>
    </div>

    <% contenu.each do |utilisateur, jours| %>
        <div class="row">
            <div class="col-sm-2">
                <%= utilisateur.prenom_nom %>
            </div>
            <% 5.times do |i| %>
                <% i+= 1 %>
                <div class="col-sm-2">
                    <p>
                    <span class="label label-primary">AM</span>
                    <% @jours[service][utilisateur][i][false].each do |item| %>
                        <% @specific_day_works[item].each do |wl| %>
                            <% cl = "" %>
                            <% if wl.work.code.downcase == "qc" && i==5 %>
                                <% cl = "keep_attention" %>
                            <% end %>
                            <span class="badge <%= cl %>"><%= wl.work.code %></span>
                        <% end %>
                    <% end %>
                    </p>
                    <p>
                    <span class="label label-info">PM</span>
                    <% @jours[service][utilisateur][i][true].each do |item| %>
                        <% @specific_day_works[item].each do |wl| %>
                            <span class="badge"><%= wl.work.code %></span>
                        <% end %>
                    <% end %>
                    </p>
                </div>
            <% end %>
        </div>
        <br>
    <% end %>
    <br>

<% end %>