<% rest = (maintenance.date_start > Date.today) ? (Date.today...maintenance.date_start).count : "" %>

<% contact = Utilisateur.find(maintenance.contact_id) %>

<% bg = "" %>
<% bg = "warning" if maintenance.isWithinTwoWeeks? %>
<% bg = "danger" if maintenance.isWithinFiveDays? %>
<% bg = "success" if maintenance.isToday? %>
<% bg = "active" if maintenance.isPassed? %>


<tr id="<%= dom_id maintenance %>" class="<%= bg %>">
  <td><%= maintenance.date_start %></td>
  <td><%= maintenance.date_end %></td>
  <td><%= rest %></td>
  <td><%= maintenance.maintenance_ressource.name %></td>
  <td><span class="label label-default"><%= maintenance.maintenance_ressource.service.nom %></span></td>
  <td><%= contact.prenom_nom %></td>
  <td>
    <% if user_signed_in? && (is_manager? || current_user.utilisateur.id == maintenance.creator_id || current_user.utilisateur.id == maintenance.contact_id) %>
        <%= link_to '<span data-toggle="tooltip">
            <i class="material-icons">edit</i></span>'.html_safe, 
            edit_maintenance_path(maintenance),
            class: "btn btn-warning btn-xs" %>

        <%= link_to '<span data-toggle="tooltip">
            <i class="material-icons">close</i>'.html_safe, 
            maintenance_path(maintenance),
            method: :delete,
            remote: true,
            data: { confirm: "Delete #{maintenance.name} (#{maintenance.date_start}/#{maintenance.date_end}) ?" },
            class: "btn btn-danger btn-xs" %>
    <% end %>
  </td>
</tr>
