<div class="container">
<p style="color: green"><%= notice %></p>

<h1>
  <span class="label label-warning"><i class="material-icons">engineering</i> Maintenances</span>
</h1>

<span data-toggle="tooltip" title="Add New Maintenance">
  <%= link_to '<i class="material-icons">more_time</i>'.html_safe, new_maintenance_path, class: "btn btn-success btn-xs" %>
</span>
&nbsp;&nbsp;
<span data-toggle="tooltip" title="Ressources">
  <%= link_to '<i class="material-icons">bookmarks</i>'.html_safe, maintenance_ressources_path %>
</span>

<div id="maintenances">
  <table class="table table-hover">
    <thead>
        <tr>
          <th>From</th>
          <th>To</th>
          <th></th>
          <th>Maintenance Name</th>
          <th>Contact</th>
          <th></th>
        </tr>
      </thead>
      <tbody>    
        <% @maintenances.each do |maintenance| %>
          <%= render maintenance if (is_manager? and maintenance.maintenance_ressource.service.id == current_user.utilisateur.service.id) or is_super_admin? %>
        <% end %>
      </tbody>
  </table>
</div>

<span data-toggle="tooltip" title="Add New Maintenance">
  <%= link_to '<i class="material-icons">more_time</i>'.html_safe, new_maintenance_path, class: "btn btn-success btn-xs" %>
</span>

</div>