<tr>
    <td><%= conge.date %></td>
    <td><%= conge.accord %></td>
    <td><%= conge.remarque %></td>
    <td>
        <%= link_to " [Show] ", conge_path(conge) %>
        <%= link_to " [Edit] ", edit_conge_path(conge) %>
    </td>
</tr>