<tr id="conge_<%= conge.id %>">
    <td><%= conge.date %></td>
    <td><%= conge.date_fin %></td>
    <td><%= "#{conge.utilisateur.prenom} #{conge.utilisateur.nom}".titleize %></td>
    <td>
        <% if conge.accord %>
            <span class="material-icons conge_accord_ok">check</span>
        <% else %>
            <span class="material-icons conge_accord_wait">hourglass_empty</span>
        <% end %>
    
    </td>
    <td><%= conge.remarque %></td>
    <td>
        <%= link_to '<span data-toggle="tooltip" title="Editer">
            <i class="material-icons">edit</i></span>'.html_safe, 
            edit_conge_path(conge),
            class: "btn btn-warning btn-xs" 
        %>

        <%= link_to '<span data-toggle="tooltip" title="Supprimer">
            <i class="material-icons">close</i>'.html_safe, 
            conge_path(conge),
            method: :delete,
            remote: true,
            data: { confirm: "Delete #{conge.date} (#{conge.utilisateur.prenom_nom}) ?" },
            class: "btn btn-danger btn-xs" 
        %>

    </td>
</tr>