<%= form_with model: @conge, local: true do |form| %>

    <% if @conge.errors.any? %>
        <strong>WARNING</strong>
        <ul>
            <% @conge.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    <% end %>

    <!-- Date -->
    <p>
        <%= form.label :date %><br>
        <%= form.date_field :date %>
    </p>

    <!-- Utilisateur -->
    <p>
        <%=form.label :utilisateur_id %><br>
        <%= form.select(:utilisateur_id) do %>
            <%= select_option_tag("", nil, @conge.utilisateur_id) %>
            <% Utilisateur.all.find_each do |l| %>
                <%= select_option_tag("#{l.prenom_nom}".capitalize, l.id, @conge.utilisateur_id) %>
            <% end %>
        <% end %>
    </p>

    <!-- Accordé ? -->
    <p>
        <%= form.label :accord %><br>
        <%= form.check_box :accord %>
    </p>

    <!-- Remarque -->
    <p>
        <%= form.label :remarque %><br>
        <%= form.text_field :remarque %>
    </p>

    <p>
        <% if Utilisateur.all.empty? %>
            <span data-toggle="tooltip" title="Utilisateur doit contenir au moins une entrée.">
                <%= form.submit class: "btn btn-primary disabled" %>
            </span>
        <% else %>
            <%= form.submit class: "btn btn-primary" %>
        <% end %>
    </p>
<% end %>