<tr id="absence_<%= absence.id %>">
    <td><%= absence.date %></td>
    <td><% if !absence.date_fin.blank? || !absence.date_fin.nil? %>
        <%= absence.date_fin %>
    <% end %>
    </td>
    <td><% if !absence.date_fin.blank? || !absence.date_fin.nil? %>
        (<%= (absence.date_fin - absence.date + 1).to_i %> j)
        <% end %>
    </td>
    <td><%= absence.utilisateur.prenom_nom %></td>
    <td>
        <%= absence.type_absence.nom %>
        <%= "(*)" if absence.halfday %>
    </td>
    <td><%= absence.remarque %></td>

    <td>
    <% service_utilisateur = absence.utilisateur.service %>
    <% if user_signed_in? && 
        (is_super_admin? || 
        current_user.utilisateur == absence.utilisateur ||
        is_manager?) %>

        <% if (current_user.utilisateur == absence.utilisateur and (absence.accord.nil? || !absence.accord) ) or
            (is_super_admin? || is_manager?)
        %>
            <%= link_to '<span data-toggle="tooltip">
                    <i class="material-icons">edit</i></span>'.html_safe, 
                    edit_absence_path(absence),
                    class: "btn btn-warning btn-xs" %>
        <% end %>

        <%= link_to '<i class="material-icons">close</i>'.html_safe, 
                    absence_path(absence),
                    method: :delete,
                    remote: true,
                    data: { confirm: "Delete #{absence.date} - #{absence.utilisateur.prenom_nom} - #{absence.type_absence.code} ?" },
                    class: "btn btn-danger btn-xs" %>
        
    <% end %>
    </td>
    <td>
        <span class="badge" ><em><%= absence.updated_at %></em></span>
        <span data-toggle="tooltip" title="<%= I18n.t("absences.index.icone_accord") %>">
            <%= '<i class="material-icons conge_accord_wait">assignment_late</i>'.html_safe if absence.accord.nil? || !absence.accord %>
        </span>
    </td>
</tr>