<tr id="absence_<%= absence.id %>">
    <td><%= absence.date %></td>
    <td><%= absence.type_absence.nom %></td>
    <td><%= absence.remarque %></td>
    <td>
        <%= link_to " [Show] ", absence_path(absence) %>
        <%= link_to " [Edit] ", edit_absence_path(absence) %>
        <%= link_to " [Delete] ", absence_path(absence), 
            method: :delete,
            remote: true,
            data: { confirm: "Delete #{absence.type_absence_id} #{absence.date} ?" } %>
    </td>
</tr>