<%= form_with model: @absence, local: true do |form| %>

    <% if @absence.errors.any? %>
        <strong>WARNING</strong>
        <ul>
            <% @absence.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    <% end %>

    <!-- Date -->
    <p>
        <%= form.label :date %><br>
        <%= form.date_field :date %>
    </p>

    <!-- Type -->
    <p>
        <%= form.label :type_absence_id %><br>
        <%= form.select(:type_absence_id) do %>
            <% TypeAbsence.all.find_each do |l| %>
                <%= content_tag(:option, l.nom, value: l.id) %>
            <% end %>
        <% end %>
    </p>

    <!-- Utilisateur -->
    <p>
        <%= form.label :utilisateur_id %><br>
        <%= form.select(:utilisateur_id) do %>
            <% Utilisateur.all.find_each do |l| %>
                <%= content_tag(:option, prenom_nom(l), value: l.id) %>
            <% end %>
        <% end %>
    </p>

    <!-- Remarque -->
    <p>
        <%= form.label :remarque %><br>
        <%= form.text_field :remarque %>
    </p>
    <p>
        <% if TypeAbsence.all.empty? || Utilisateur.all.empty? %>
            <span data-toggle="tooltip" title="Type d'absence et utilisateur doivent contenir au moins une entrée.">
                <%= form.submit class: "btn btn-primary disabled" %>
            </span>
        <% else %>
            <%= form.submit class: "btn btn-primary" %>
        <% end %>
    </p>
<% end %>