<%= form_with model: @absence, local: true do |form| %>

    <% if @absence.date.blank? %>
        <% @absence.date = Date.today %>
    <% end %>
    

    <% if @absence.errors.any? %>
        <strong>WARNING</strong>
        <ul>
            <% @absence.errors.full_messages.each do |message| %>
                <li class="bg-danger"><%= message %></li>
            <% end %>
        </ul>
    <% end %>


    <!-- Dates -->

    <p>
        <%= form.label I18n.t("absences.new.date") %><br>
        <%= form.date_field :date %>

        &nbsp; &nbsp; &nbsp;

        <!-- Half Days -->
        <span id="halfday">
            <%= form.check_box :halfday %> <%= form.label I18n.t("absences.new.halfday") %>
        </span>
    </p>


    <p id="date2">
        <%= form.label I18n.t("absences.new.date_fin") %><br>
        <%= form.date_field :date_fin %>
    </p>



    <!-- Type -->
    <p>
        <%= form.label I18n.t("absences.new.type_absence") %><br>
        <%= form.select(:type_absence_id) do %>
            <%= select_option_tag("", nil, @absence.type_absence_id) %>
            <% TypeAbsence.all.find_each do |l| %>
                <%= select_option_tag(l.nom, l.id, @absence.type_absence_id) %>
            <% end %>
        <% end %>
    </p>

    <!-- Utilisateur -->
    <p>
        <%= form.label I18n.t("absences.new.utilisateur") %><br>

        <!-- Ne peut modifier l'utilisateur que si admin ou manager -->
        <%= form.select(:utilisateur_id) do %>
            <% if is_super_admin? %>
                <%= select_option_tag("", nil, @absence.utilisateur_id) %>
                <% @utilisateurs.find_each do |l| %>
                    <%= select_option_tag("[#{l.service.nom}] - #{l.prenom_nom}", l.id, @absence.utilisateur_id) %>                
                <% end %>
            <% else %>
                <%= select_option_tag(current_user.utilisateur.prenom_nom, current_user.utilisateur.id, @absence.utilisateur_id) %>
            <% end %>
        <% end %>
    </p>

    <!-- Remarque -->
    <p>
        <%= form.label I18n.t("absences.new.remarque") %><br>
        <%= form.text_field :remarque %>
    </p>
    <p>
        <%= form.submit class: "btn btn-primary" %>
    </p>


    <% if user_signed_in? && is_manager? %>
        <!-- Accord -->
        <p>
            <%= form.check_box :accord %> <%= form.label I18n.t("absences.new.accord") %>
        </p>
    <% end %>

<% end %>

<script>

    // On clique sur halfday...
    $('#halfday').on('click', function(){
        if ($('#halfday')[0].getElementsByTagName("input")[1].checked) {
            $('#date2')[0].hidden = true;
        } else {
            $('#date2')[0].hidden = false;
        }
    });

    // On clique sur Date2...
    $('#date2').on('click', function(){
        if ($('#halfday')[0].getElementsByTagName("input")[1].checked) {
            $('#halfday')[0].getElementsByTagName("input")[1].checked = false;
        }
    });

</script>