<div class="row grille">
    <table class="table-condensed table table-bordered table-striped table-responsive">
        <thead>
        <tr>
            <th>Mois</th>
            <% 31.times do |n_jour| %>
                <th><%= n_jour+1 %></th>
            <% end %>
        </tr>
        </thead>
        <% date_depart = Date.today-3.months %>
        <tbody>
        <% 12.times do |n_mois| %>
            <% date_parcourue = (date_depart + n_mois.months) %>
            <% couleur_ligne_mois = (Date.today.month==date_parcourue.month) ? "warning" : "default" %>
            <tr class=<%= "#{couleur_ligne_mois}" %>>
                <% annee = date_parcourue.year %>
                <% mois = date_parcourue.month %>
                <% numero_mois = "#{mois<10 ? '0' : ''}#{mois}" %>
                <td><%= "#{numero_mois}/#{annee}" %></td>
                <% nombre_jours = Time.days_in_month(mois, annee).to_i %>
                <% nombre_jours.times do |n_jour| %>
                    <% records = @current_absences.where(date: "#{annee}-#{numero_mois}-#{n_jour+1}") %>
                    <% if records.empty? %>
                        <td><% 3.times do %><br><% end %></td>
                    <% else %>
                        <td align=center>
                            <% records.each do |record| %>
                                <span   class="label label-warning tab-cell"
                                        data-toggle="tooltip" 
                                        title="<%= prenom_nom(record.utilisateur) %> - <%= record.type_absence.nom %>">
                                    <%= initiales(record.utilisateur) %>
                                </span>
                                <br>
                            <% end %>
                        </td>
                    <% end %>
                <% end %>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>