<% session[:page_aide] = "absences_types" %>

<div class="container">
    <div class="page-header">
        <h1>
            <span class="label label-warning">
                <i class="material-icons">healing</i>
                <%= I18n.t("home.index.managing_absences").upcase %>
            </span>
        </h1>

        <span class="label label-danger"><i>in progress...</i></span>

    </div>
</div>

<div class="container">
    <% tmp_last_service = nil %>
    <% nombre_jours = (@date2-@date).to_i %>
    <% jours_absence = 0 %>

    <table class="table table-condensed table-bordered">
        <thead>
            <tr>
                <th> </th>
                <% i = 0 %>
                <% while i < nombre_jours %>
                    <% if (@date+i.day).wday == 6 %>
                        <th colspan="2">W</th>
                        <% i+= 1 %>
                    <% else %>
                        <% md = (@date+i.day).mday %>
                        <% md = "0#{md}" if md < 10 %>
                        <th><%= md %></th>
                    <% end %>
                    <% i+= 1 %>
                <% end %>
            </tr>
        </thead>
        <tbody>
            <% @utilisateurs.each do |utilisateur| %>
                <% if utilisateur.service != tmp_last_service %>
                    <% tmp_last_service = utilisateur.service %>
                    <tr><td></td></tr>
                    <tr>
                        <td colspan="<%= nombre_jours+1 %>">
                            <strong><%= tmp_last_service.nom.upcase %></strong>
                        </td>
                    </tr>
                <% end %>
                <tr>
                    <td><%= utilisateur.prenom_nom %></td>
                    <% i = 0 %>
                    <% while i < nombre_jours %>
                            <% if @absences[utilisateur.id] and @absences[utilisateur.id][@date+i.day] %>
                                <% bg = " " %>
                                <% bg = "conge_wait" if @absences[utilisateur.id][@date+i.day].accord == false %>
                                <% bg = "conge_ok" if @absences[utilisateur.id][@date+i.day].accord == true %>
                                                            
                                <% if @absences[utilisateur.id][@date+i.day].date == @date+i.day %>
                                    <% jours_absence = (@absences[utilisateur.id][@date+i.day].date_fin - @absences[utilisateur.id][@date+i.day].date).to_i + 1 %>
                                <% elsif i == 0 %>
                                    <% jours_absence = (@absences[utilisateur.id][@date+i.day].date_fin - @date).to_i + 1 %>
                                <% end %>
                                
                                <td colspan= "<%= jours_absence %>" class="<%= bg %>">
                                    <% if @absences[utilisateur.id][@date+i.day].accord == false %>
                                        <%= link_to "#{@absences[utilisateur.id][@date+i.day].type_absence.code}", 
                                            edit_absence_path(@absences[utilisateur.id][@date+i.day]),
                                            class: "btn btn-danger btn-xs"
                                        %>
                                    <% end %>
                                    <% if @absences[utilisateur.id][@date+i.day].accord == true %>
                                        <%= link_to "#{@absences[utilisateur.id][@date+i.day].type_absence.code}", 
                                            edit_absence_path(@absences[utilisateur.id][@date+i.day]),
                                            class: "btn btn-success btn-xs"
                                        %>
                                    <% end %>
                                    
                                </td>
                                <% i = i + jours_absence -1 %>
                            <% else %>
                                <% bg = "" %>
                                <% bg = "weekend" if (@date+i.day).wday == 6 or (@date+i.day).wday == 0 %>
                                <td class = "<%= bg %>"></td>
                            <% end %>
                        
                        <% i += 1 %>
                    <% end %>
                </tr>
            <% end %>
        </tbody>
    </table>

</div>