<h1>
    <%= @absence.date %>
</h1>
<p>
    <%= prenom_nom(@absence.utilisateur) %>
</p>
<p>
    <%= @absence.type_absence.nom %><br>
    <%= @absence.type_absence.description %>
</p>
<p>
    <%= @absence.remarque %>
</p>

<p>
    <%= link_to " [Edit] ", edit_absence_path(@absence) %>
</p>