<% session[:page_aide] = "absences_types" %>

<div class="container">
<div class="page-header">
    <h1>
        <span class="label label-primary">
            <i class="material-icons">healing</i>
            <%= I18n.t("absences.index.titre").upcase %>
        </span>
    </h1>
</div>
<p>
    <% if user_signed_in? %>
    <%= link_to '<i class="material-icons">add</i> '.html_safe, 
        new_absence_path,
        class: "btn btn-success btn-xs" %>
    <% end %>
</p>

<h3><span class="label label-success"><%= I18n.t("absences.index.validated") %></span></h3>
<div id="absences">
    <%= render 'absences' %>
</div>

<p>
    <% if user_signed_in? %>
    <%= link_to '<i class="material-icons">add</i> '.html_safe, 
        new_absence_path,
        class: "btn btn-success btn-xs" %>
    <% end %>
</p>
<div class="container">