<p><%= paginate @groupes, remote: true %></p>
<table class="table table-striped">
    <tr>
        <th><%= I18n.t("groupes.edit.nom") %></th>
        <th><%= I18n.t("groupes.edit.desrciption") %></th>
        <th></th>
    </tr>
    <%= render @groupes %>
</table>
<p><%= paginate @groupes, remote: true %></p>