<tr id="groupe_<%= groupe.id %>">
    <td><%= groupe.nom %></td>
    <td><%= groupe.description %></td>
    <td>
        <%= link_to " [Show] ", groupe_path(groupe) %>
        <%= link_to " [Edit] ", edit_groupe_path(groupe) %>
        <%= link_to " [Delete] ", groupe_path(groupe), 
            method: :delete,
            remote: true,
            data: { confirm: "Delete #{groupe.nom} ?" } %>
    </td>
</tr>