<h1>
    <span class="label label-primary">
        <i class="material-icons">group_work</i>
        <%= I18n.t("groupes.index.titre").upcase %>
    </span>
</h1>

<p>
    <%= I18n.t("groupes.index.description") %>
</p>

<p>
<% if user_signed_in? && current_user.admin? %>
    <%= link_to '<i class="material-icons">add</i> '.html_safe, 
        new_groupe_path,
        class: "btn btn-success btn-xs" %>
        <% end %>
</p>


<div id="groupes">
    <%= render 'groupes' %>
</div>

<p>
<% if user_signed_in? && current_user.admin? %>
    <%= link_to '<i class="material-icons">add</i> '.html_safe, 
        new_groupe_path,
        class: "btn btn-success btn-xs" %>
        <% end %>
</p>
