<!DOCTYPE html>
<html>

<head>
    <title>ORGA</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'icon.ico' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap&subset=latin-ext" rel="stylesheet">
</head>

<body>

    <!-- HEADER -->
    <%= render'layouts/header'%>

    <!-- FLASH -->
    <div class="container">
        <% flash.each do |key, value| %>
        <%= content_tag :div, value, class: key %>
        <% end %>
    </div>

    <!-- YIELD -->
    <div class="container">
        <%= yield %>
    </div>

    <!-- FOOT -->
    <%= render'layouts/footer'%>

</body>

</html>

<script>
    $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>