<!DOCTYPE html>
<html>

<head>
    <title>ORGA</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    
    <%= favicon_link_tag 'icon.ico' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap&subset=latin-ext" rel="stylesheet">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-V91KHEX442"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-V91KHEX442');
</script>



<body>

    <!-- NAVBAR -->
    <%= render 'layouts/navbar' %>

    <!-- HEADER -->
    <%= render 'layouts/header'%>

    <!-- FLASH -->
    <div class="container">
        <% flash.each do |key, value| %>
        <%= content_tag :div, value, class: key %>
        <% end %>
    </div>

    <!-- YIELD -->
    <%= yield %>

    <!-- LOG -->
    <% after_login %>

    <!-- FOOT -->
    <%= render 'layouts/footer'%>

</body>

</html>

<script>
    $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>